.article-section-image {
    .big-main-image {
        .bottom-content {
            margin: 0;
            text-align: left;
            margin-bottom: -5rem;
            max-width: 60%;
            left: -1px;
            // @include breakpoint(lg) {
            //     max-width: 50%;
            // }
            .cus-content {
                padding: 0 0;
                padding-top: .5rem;
                margin-bottom: 0;
                // .cus-big-title {
                //     font-size: 1.25rem;
                //     line-height: 1.5625rem;
                //     @include breakpoint(sm) {
                //         font-size: 1.75rem;
                //         line-height: 2.1875rem;
                //     }
                //     @include breakpoint(md) {
                //         font-size: 1.9375rem;
                //         line-height: 2.5625rem;
                //     }
                //     @include breakpoint(lg) {
                //         font-size: $font-size-46;
                //         line-height: $line-height-58;
                //     }
                // }
            }
            .icon-center {
                margin: 0;
                text-align: center;
                width: 120px;
                margin: 1.5rem 0;
                display: flex;
                justify-content: center;
                margin-bottom: .6rem;
                &:before {
                    width: 35px;
                    background: #707070;
                }
                &:after {
                    width: 35px;
                    background: #707070;
                }
                // @include breakpoint(lg) {
                //     width: 108px;
                // }
            }
            // .cus-date {
            //     font-size: $font-size-19;
            //     line-height: $line-height-23;
            // }
        }
    }
}

.section-lead-text {
    margin: 35px 0 50px 0;
    @include maxbreakpoint(md) {
        margin: 15px 0 20px 0
    }
}

.custom-adss .googleAds {
    @include breakpoint(lg) {
        text-align: right;
    }
}

@include maxbreakpoint(md) {
    .article-section-image .mb-8 {
        margin-bottom: 6rem !important;
    }
    .share-icons-m {
        .shr-cnt {
            ul {
                display: flex;
                li {
                    margin-right: 15px;
                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}

.page-title_wrapper {
    display: none;
}

.also-like-title {
    font-size: $font-size-56;
    line-height: $line-height-70;
    font-family: $font-family-merriweather-bold-italic;
    margin: 3rem 0;
    margin-top: 1rem;
}

.also-like {
    padding: 3rem 0;
    background-image: url(/sites/all/themes/ahlan_revamp/images/white-shadow.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center calc((-800px + 10rem) / 2);
}

.article-body-content-data {
    p {
        line-height: $line-height-29;
        margin-bottom: 20px;
        font-family: $font-family-montserrat;
    }
    .pullquote-container {
        @include minbreakpoint(md) {
            padding: 1rem 10rem;
        }
        font-size: $font-size-22;
        line-height: $line-height-36;
        font-family: $font-family-merriweather-light-italic;
        span {
            padding: 0rem 1rem;
            position: relative;
            &:before {
                content: "\201C";
                font-family: "merriweather-light-italic";
                font-weight: bold;
                color: #000;
                position: absolute;
                left: 0;
            }
        }
        small {
            display: block;
            font-size: 12px;
            line-height: 14px;
            margin-top: 15px;
            font-family: $font-family-montserrat;
        }
    }
    img {
        max-width: 100%;
        max-height: 100%;
        min-height: 100%;
        margin-bottom: 20px;
        height: auto;
        width: auto;
        object-fit: cover;
        object-position: top;
    }
}

@include maxbreakpoint(xs) {
    .custom-container {
        .custom-row {
            .col-sm-8,
            .col-sm-3 {
                max-width: 100%;
                flex: 0 0 100%;
            }
        }
    }
}

.custom-social-icon {
    text-align: center;
    small {
        font-size: 11px;
        line-height: $line-height-19;
        font-family: $font-family-montserrat;
        text-transform: uppercase;
    }
}

.shr-cnt {
    .share-content {
        ul {
            padding: 0;
            list-style: none;
            li {
                i {
                    font-size: 14px;
                }
            }
        }
    }
}