// footer {
//     background: #fff;
// }
footer {
    background-color: #f4f4f7;
}

footer .ft-logo {
    background-color: #f4f4f7;
}

footer .ft-logo img:hover {
    opacity: .6;
    transition: all .5s;
}

footer .form-control {
    background-color: #f4f4f7;
}

footer .newsletter-footer .input-group .input-group-prepend .input-group-text {
    background-color: #f4f4f7;
}

footer .sc-icon ul li {
    background-color: #f4f4f7;
}

.bck-line:before {
    background-color: #C4C4C4;
    height: 1px;
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    @media (max-width: 1199px) {
        top: 50%;
    }
}

.bck-line {
    position: relative;
    .col-md-5 {
        display: flex;
        align-items: center;
    }
}

.ft-logo {
    img {
        // background: #fff;
        margin-top: -15px;
    }
}

.sc-icon ul {
    padding: 0;
    display: flex;
    background: #fff;
    li {
        list-style: none;
        width: 55px;
        height: 45px;
        border: solid 1px #C4C4C4;
        border-right: none;
        text-align: center;
        line-height: 45px;
    }
}

.sc-icon ul li:last-child {
    border-right: solid 1px #C4C4C4;
}

.sc-icon {
    max-width: 165px;
    margin: 0 auto;
}

.subs-msg {
    position: absolute;
    width: 100%;
}

.newsletter-footer {
    width: 370px;
    margin: 16px 0;
    position: relative;
    .input-group {
        min-height: 45px;
        .input-group-prepend .input-group-text {
            border-radius: 0;
            border: solid 1px #C4C4C4;
            background: #fff;
        }
        .input-group-append .input-group-text {
            border-radius: 0;
            border: solid 1px #C4C4C4;
            padding: 0;
            input {
                background: url(/sites/all/themes/ahlan_revamp/images/footer-arrow.png) no-repeat;
                cursor: pointer;
                border: none;
                background-position: center;
                width: 45px;
                height: 44px;
            }
        }
    }
}

footer a,
footer i {
    color: #242424;
}

.bck-line {
    .col-md-3 {
        display: flex;
        align-items: flex-end;
    }
}

.bck-line {
    .col-md-4 {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
}

.menu-footer-section .ft-main-item {
    width: 123.33px;
    padding-left: 5px;
    padding-right: 5px;
}

.ft-main-item {
    &.first li,
    p {
        font-size: $font-size-12;
        line-height: $line-height-15;
        font-family: $font-family-montserrat-semibold;
        text-transform: uppercase;
    }
    &.first {
        ul {
            li {
                padding: 12px 0px;
                text-align: center;
                border-bottom: solid 1px #C4C4C4;
                &:first-child {
                    padding-top: 0;
                }
            }
        }
    }
}

.ft-main-item.first {
    padding-left: 0;
    padding-right: 20px;
}

.ft-main-item {
    .sub-menu-section {
        li {
            font-size: $font-size-10;
            line-height: $line-height-13;
            font-family: $font-family-montserrat;
            margin: 12px 0;
            a {
                color: #898989;
            }
        }
    }
}

.menu-footer-section ul {
    padding: 0;
    list-style: none;
}

.menu-footer-section {
    display: flex;
    flex-wrap: wrap;
}

.ft-color {
    background-color: $ftcolor;
    padding: 20px 0;
    p,
    li {
        a {
            color: #C4C4C4;
        }
        font-size: $font-size-12;
        line-height: $line-height-15;
        font-family: $font-family-montserrat;
        color: #C4C4C4;
    }
    .row {
        @media (min-width: 992px) {
            align-items: baseline;
        }
    }
}

.ft-color ul li {
    margin-right: 40px;
}

.ft-color ul li:last-child {
    margin-right: 0;
}

.ft-color {
    ul {
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        @media (max-width: 992px) {
            justify-content: center;
        }
    }
}

.form-control:focus {
    border-color: #ced4da;
    box-shadow: none;
}

input.form-control::placeholder {
    font-size: $font-size-10;
    line-height: 46px;
    font-family: $font-family-montserrat;
}

input.form-control::-ms-input-placeholder {
    font-size: $font-size-10;
    line-height: 46px;
    font-family: $font-family-montserrat;
}

.footer-social-icons {
    display: none !important;
}

.disclamier p,
.term-policy ul {
    margin: 0;
}

.disclamier {
    text-align: center;
}

.disclamier p {
    margin-left: 0px;
    @include breakpoint(md) {
        margin-left: 70px;
    }
    @include breakpoint(sm) {
        margin-left: 70px;
    }
    @include breakpoint(lg) {
        margin-left: 170px;
    }
}

@include maxbreakpoint(xs) {
    .ft-color {
        padding: 10px 0;
        .footer-social-icons {
            &.show-mobile {
                display: flex !important;
            }
        }
    }
    ul.footer-social-icons {
        li {
            i {
                color: #b9b9b9;
                font-size: 15px;
            }
        }
    }
    ul.footer-social-icons {
        li {
            margin-right: 10px;
        }
    }
    ul.footer-social-icons {
        margin-bottom: 0;
    }
    ul.terms {
        display: none;
    }
    .disclamier p {
        margin: 0;
        text-align: center;
        font-size: 9px;
        line-height: 12px;
        margin: 0;
    }
    .disclamier,
    .term-policy,
    .disclamier-logo {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
    .sub-bottom-menu {
        background-color: #5f5f5f;
    }
    .footer-navigation ul {
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin: 0;
        flex-flow: row;
    }
    .footer-navigation ul li a {
        font-size: 8px;
        line-height: inherit;
        letter-spacing: 0.24px;
        color: #f4f4f7;
        text-transform: uppercase;
        font-family: $font-family-montserrat;
    }
    .footer-navigation ul li {
        justify-content: center;
        padding: 0px 0px;
        margin-bottom: 4px;
    }
    footer.pt-7 {
        background: #f4f4f7;
        padding-top: 0rem !important;
    }
    .d-md-none {
        .ft-logo {
            text-align: center;
            padding: 35px 0px;
            img {
                max-width: 190px;
                background: #f4f4f7;
                margin: 0 auto;
            }
        }
    }
    .d-md-none {
        border-top: solid 1px #efefef;
    }
}

.ft-main-item.first li:hover a,
.ft-main-item p:hover a {
    color: #898989;
}

.ft-main-item .sub-menu-section li:hover a {
    color: #242424;
}

footer .sc-icon ul li:hover i,
.head-social li:hover a {
    color: #898989;
    transition: .5s color;
}

footer .sc-icon ul li {
    cursor: pointer;
}