div#content {
    overflow: hidden;
}

.custom-adss iframe {
    max-width: 100%;
}

a {
    cursor: pointer;
    transition: .5s color;
    text-decoration: none;
    color: #000;
    outline: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

.icon-center {
    transition: all 1s;
}

.big-main-image:hover .bottom-content .cus-content h2 a,
.small-main-img:hover .small-btn-content h3 a {
    color: #a8a8a8;
}

.big-main-image:hover .bottom-content .icon-center,
.small-main-img:hover .small-btn-content .icon-center {
    opacity: .4
}

section.addvertisement {
    border-top: solid .6px #C7C7C7;
    border-bottom: solid .6px #C7C7C7;
    background: #fff;
}

.bg-white {
    background: #fff;
}

.pd-r {
    padding-right: 1.4375rem;
}

.pd-l {
    padding-left: 1.4375rem;
}

.mb-7 {
    margin-bottom: 6rem !important;
    @include maxbreakpoint(xs) {
        margin-bottom: 5.5rem !important;
    }
}

@include maxbreakpoint(sm) {
    .mb-5 {
        margin-bottom: 2rem !important;
    }
}

.mb-8 {
    margin-bottom: 8rem !important;
}

.pb-7 {
    padding-bottom: 5rem !important;
}

.pt-7 {
    padding-top: 5rem !important;
}

.cus-big-title {
    font-size: $font-size-41 - 0.4375rem *3; //24px less
    line-height: $line-height-51 - 0.4375rem *3; //24px less
    font-family: $font-family-merriweather-bold;
    color: $black;
    margin-bottom: 0;
    @include breakpoint(sm) {
        font-size: $font-size-41 - 0.4375rem *2; //16px less
        line-height: $line-height-51 - 0.4375rem *2; //8px less
    }
    @include breakpoint(md) {
        font-size: $font-size-41 - 0.4375rem; //8px less
        line-height: $line-height-51 - 0.4375rem; //8px less
    }
    @include breakpoint(lg) {
        font-size: $font-size-41;
        line-height: $line-height-51;
    }
}

.cus-md-title {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-family: $font-family-merriweather-bold;
    color: $black;
    margin-bottom: 0;
    @include breakpoint(sm) {
        font-size: 1.5rem;
        line-height: 1.875rem;
    }
    @include breakpoint(md) {
        font-size: 1.75rem;
        line-height: 2.1875rem;
    }
    @include breakpoint(lg) {
        font-size: $font-size-35;
        line-height: $line-height-44;
    }
}

.cus-lead-title {
    font-family: $font-family-merriweather-light-italic;
    color: #9F9F9F;
    // font-weight: normal;
    @include breakpoint(lg) {
        font-size: $font-size-32;
        line-height: $line-height-44;
    }
}

.cus-date {
    font-size: $font-size-12;
    line-height: $line-height-15;
    font-family: $font-family-montserrat;
    color: $light-gray-text;
    text-transform: uppercase;
    display: block;
    @include maxbreakpoint(xs) {
        font-size: 10px;
    }
}

.cus-small-two-title {
    font-size: $font-size-22;
    line-height: $line-height-31;
    font-family: $font-family-merriweather-bold;
}

.row-cus:after {
    clear: both;
}

.row-cus:before {
    display: table;
    content: " ";
}

.trending-slider {
    overflow: auto;
}

@include maxbreakpoint(xs) {
    .container-compact {
        padding-left: 0;
        padding-right: 0;
    }
    .row-compact {
        margin-left: 0;
        margin-right: 0;
        >[class^="col"] {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.icon-center {
    .center-icon {
        background: #f2f2f6;
        &.here-now {
            background-image: url(http://localhost/ahlan/html/assets/img/here-now.png);
        }
        &.here-now-white {
            background-color: transparent;
            background-image: url(http://localhost/ahlan/html/assets/img/here-now-white.png);
        }
        &.thunder {
            background-image: url(http://localhost/ahlan/html/assets/img/thunder.png);
        }
        &.large-icon {
            //padding: 0 10px;
            width: 21px;
            height: 20px;
        }
        @include breakpoint(md) {
            &.large-icon {
                //padding: 0 10px;
                width: 26px;
                height: 25px;
            }
        }
        @include breakpoint(lg) {
            &.large-icon {
                //padding: 0 10px;
                width: 31px;
                height: 30px;
            }
        }
        &.small-icon {
            padding: 0 5px;
            width: 20px;
            height: 12px;
            @include breakpoint(sm) {
                width: 20px;
                height: 12px;
            }
            @include breakpoint(md) {
                width: 23px;
                height: 14px;
            }
            @include breakpoint(lg) {
                width: 25px;
                height: 16px;
            }
        }
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        // &.trns-bg {
        //     background-color: transparent;
        // }
    }
}