div#content {
    overflow: hidden;
}

.custom-adss iframe {
    max-width: 100%;
}

a {
    cursor: pointer;
    transition: .5s color;
    text-decoration: none;
    color: #000;
    outline: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

.icon-center {
    transition: all 1s;
}

.cus-content h2 a:hover,
.small-btn-content h3 a:hover {
    color: #a8a8a8;
}

.icon-center .center-icon:hover {
    opacity: .4
}

// section.addvertisement {
//     border-top: solid .6px #C7C7C7;
//     border-bottom: solid .6px #C7C7C7;
//     background: #fff;
// }
.bg-white {
    background: #fff;
}

.slider-bg-white {
    background: #fff;
}

.pd-r {
    padding-right: 1.4375rem;
    @include maxbreakpoint(md) {
        padding-right: 8px;
    }
}

.pd-l {
    padding-left: 1.4375rem;
    @include maxbreakpoint(md) {
        padding-left: 8px;
    }
}

.bottom-text-on-image.mb-7 {
    margin-bottom: 1rem !important;
    @include breakpoint(sm) {
        margin-bottom: 1rem !important;
    }
    @include breakpoint(md) {
        margin-bottom: 1rem !important;
    }
    @include breakpoint(lg) {
        margin-bottom: 3rem !important;
    }
}

.mb-7 {
    margin-bottom: 0rem !important;
    @include breakpoint(sm) {
        margin-bottom: 2rem !important;
    }
    @include breakpoint(md) {
        margin-bottom: 2rem !important;
    }
    @include breakpoint(lg) {
        margin-bottom: 5rem !important;
    }
}

.mb-5 {
    margin-bottom: 0rem !important;
    @include breakpoint(sm) {
        margin-bottom: 1rem !important;
    }
    @include breakpoint(md) {
        margin-bottom: 1rem !important;
    }
    @include breakpoint(lg) {
        margin-bottom: 3rem !important;
    }
}

.not-front {
    .py-3 {
        margin-bottom: 0rem !important;
        // @include breakpoint(sm) {
        //     margin-bottom: 1rem !important;
        // }
        // @include breakpoint(md) {
        //     margin-bottom: 1rem !important;
        // }
        // @include breakpoint(lg) {
        //     margin-bottom: 3rem !important;
        // }
    }
}

.background-white {
    @include minbreakpoint(md) {
        background-color: #fff;
        padding-top: 3rem !important;
    }
}

.parallex-bg-white,
.parallex-bg-white .big-main-image .bottom-content,
.parallex-bg-white .big-main-image .bottom-content .cus-content {
    @include minbreakpoint(md) {
        background-color: #fff !important;
    }
}

// .not-front {
//     .py-3 {
//         &.also-like {
//             @include maxbreakpoint(xs) {
//                 margin-bottom: 30px !important;
//             }
//         }
//     }
// }
.mb-8 {
    margin-bottom: 8rem !important;
}

.pb-7 {
    padding-bottom: 5rem !important;
}

.pt-7 {
    padding-top: 5rem !important;
}

footer {
    &.pt-7,
    .pt-7 {
        @include breakpoint(sm) {
            padding-top: 2rem !important;
        }
        @include breakpoint(md) {
            padding-top: 3rem !important;
        }
        @include breakpoint(lg) {
            padding-top: 5rem !important;
        }
    }
}

.cus-big-title,
.trending-slider .cus-small-title {
    font-family: $font-family-merriweather-bold;
    color: $black;
    margin-bottom: 0;
}

// .cus-big-title,
// .trending-slider .cus-small-title 
.cus-big-title {
    font-size: $font-size-41 - 1.4375rem; //24px less
    line-height: $line-height-51 - 1.6875rem; //24px less
    @include breakpoint(sm) {
        font-size: 30px;
        line-height: 44px;
    }
    @include breakpoint(md) {
        font-size: 34px;
        line-height: 49px;
    }
    @include breakpoint(lg) {
        font-size: 38px;
        line-height: 53px;
    }
}

.trending-slider .cus-small-title {
    margin-bottom: 16px;
    @include maxbreakpoint(xs) {
        margin-bottom: 10px;
    }
}

.trending-slider .cus-small-title {
    font-size: 18px;
    line-height: 22px;
    font-family: $font-family-merriweather-bold;
    @include breakpoint(sm) {
        font-size: 27px;
        line-height: 39px;
    }
    @include breakpoint(md) {
        font-size: 31px;
        line-height: 43px;
    }
    @include breakpoint(lg) {
        font-size: 35px;
        line-height: 47px;
    }
}

.cus-big-title.cus-medium-title {
    font-size: 18px;
    line-height: 22px;
    @include breakpoint(sm) {
        font-size: 27px;
        line-height: 39px;
    }
    @include breakpoint(md) {
        font-size: 31px;
        line-height: 43px;
    }
    @include breakpoint(lg) {
        font-size: 35px;
        line-height: 47px;
    }
}

.cus-small-title {
    font-size: 18px;
    line-height: 22px;
    font-family: $font-family-merriweather-bold;
    @include breakpoint(sm) {
        font-size: $font-size-28 - 0.625rem;
        line-height: $line-height-36 - 0.625rem;
    }
    @include breakpoint(md) {
        font-size: $font-size-28 - 0.25rem;
        line-height: $line-height-36 - 0.25rem;
    }
    @include breakpoint(lg) {
        font-size: 25px;
        line-height: 36px;
    }
}

.cus-small-title,
.cus-small-two-title {
    margin-bottom: 12px;
    @include maxbreakpoint(xs) {
        margin-bottom: 5px;
    }
}

.cus-small-title {
    padding: 0px 50px;
    @include breakpoint(xs) {
        padding: 0px 50px;
    }
    @include breakpoint(sm) {
        padding: 0px 20px;
    }
    @include breakpoint(md) {
        padding: 0px 30px;
    }
    @include breakpoint(lg) {
        padding: 0px 40px;
    }
}

.add-col-6 .cus-small-title {
    padding: 0px 15px;
    @include breakpoint(xs) {
        padding: 0px 15px;
    }
    @include breakpoint(sm) {
        padding: 0px 20px;
    }
    @include breakpoint(md) {
        padding: 0px 30px;
    }
    @include breakpoint(lg) {
        padding: 0px 40px;
    }
}

.cus-small-two-title {
    // padding: 0px 40px;
    @include breakpoint(sm) {
        padding: 0 15px;
    }
    @include breakpoint(md) {
        padding: 0 15px;
    }
    @include breakpoint(lg) {
        padding: 0px 40px;
    }
}

.inner-page-cus-small-title {
    @include maxbreakpoint(xs) {
        .small-main-img .cus-sm-img {
            margin-bottom: .6rem;
        }
        .cus-small-title {
            font-size: 14px;
            line-height: 18px;
            // padding: 0 5px;
        }
    }
}

.cus-md-title {
    font-size: $font-size-41 - 1.4375rem; //24px less
    line-height: $line-height-51 - 1.6875rem; //24px less
    font-family: $font-family-merriweather-bold;
    color: $black;
    margin-bottom: 0;
    @include breakpoint(sm) {
        font-size: $font-size-35 - 0.4375rem *2; //8px less
        line-height: $line-height-44 - 0.4375rem *2; //8px less
    }
    @include breakpoint(md) {
        font-size: $font-size-35 - 0.4375rem; //8px less
        line-height: $line-height-44 - 0.4375rem; //8px less
    }
    @include breakpoint(lg) {
        font-size: $font-size-35;
        line-height: $line-height-44;
    }
}

.cus-lead-title {
    font-family: $font-family-merriweather-light-italic;
    color: #9F9F9F;
    @include breakpoint(sm) {
        font-size: $font-size-32 - 0.4375rem*2; //8px less;
        line-height: $line-height-44 - 0.4375rem*2; //8px less;
    }
    @include breakpoint(md) {
        font-size: $font-size-32 - 0.4375rem; //8px less;
        line-height: $line-height-44 - 0.4375rem; //8px less;
    }
    // font-weight: normal;
    @include breakpoint(lg) {
        font-size: $font-size-32;
        line-height: $line-height-44;
    }
}

.cus-date {
    font-size: $font-size-12;
    line-height: $line-height-15;
    font-family: $font-family-montserrat;
    color: $light-gray-text;
    text-transform: uppercase;
    display: block;
    @include maxbreakpoint(xs) {
        font-size: 8px;
        margin-top: 2px;
    }
}

span.cls-date {
    @include maxbreakpoint(xs) {
        font-size: 8px !important;
    }
}

.cus-small-two-title {
    font-size: 14px;
    line-height: 18px;
    font-family: $font-family-merriweather-bold;
    @include breakpoint(sm) {
        font-size: 1rem;
        line-height: 1.3125rem;
    }
    @include breakpoint(md) {
        font-size: 20px;
        line-height: $line-height-31;
    }
    @include breakpoint(lg) {
        font-size: $font-size-22;
        line-height: $line-height-31;
    }
}

.row-cus:after {
    clear: both;
}

.row-cus:before {
    display: table;
    content: " ";
}

.trending-slider {
    overflow: auto;
}

@include maxbreakpoint(xs) {
    .container-compact {
        padding-left: 0;
        padding-right: 0;
    }
    .row-compact {
        margin-left: 0;
        margin-right: 0;
        >[class^="col"] {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.icon-center {
    .center-icon {
        &.term-here-now {
            background-image: url(/sites/all/themes/ahlan_revamp/images/here-now.png);
        }
        &.term-food-drinks {
            background-image: url(/sites/all/themes/ahlan_revamp/images/food-drink.png);
        }
        &.term-life-style {
            background-image: url(/sites/all/themes/ahlan_revamp/images/life-style.png);
        }
        &.term-lists-more {
            background-image: url(/sites/all/themes/ahlan_revamp/images/list-more.png);
        }
        &.term-listing {
            background-image: url(/sites/all/themes/ahlan_revamp/images/list-more.png);
        }
        &.term-stars-stories {
            background-image: url(/sites/all/themes/ahlan_revamp/images/star-stories.png);
        }
        &.term-travel-getaways {
            background-image: url(/sites/all/themes/ahlan_revamp/images/travel-getaways.png);
        }
        &.term-heart {
            background-image: url(/sites/all/themes/ahlan_revamp/images/heart-icon.png);
        }
        &.default-icon {
            background-image: url(/sites/all/themes/ahlan_revamp/images/default.png);
        }
        // css for white icons
        &.term-here-now.white-icon {
            background-image: url(/sites/all/themes/ahlan_revamp/images/white-here-now.png);
        }
        &.term-food-drinks.white-icon {
            background-image: url(/sites/all/themes/ahlan_revamp/images/white-food-drink.png);
        }
        &.term-life-style.white-icon {
            background-image: url(/sites/all/themes/ahlan_revamp/images/white-life-style.png);
        }
        &.term-lists-more.white-icon {
            background-image: url(/sites/all/themes/ahlan_revamp/images/white-list-more.png);
        }
        &.term-stars-stories.white-icon {
            background-image: url(/sites/all/themes/ahlan_revamp/images/white-star-stories.png);
        }
        &.term-travel-getaways.white-icon {
            background-image: url(/sites/all/themes/ahlan_revamp/images/white-travel-getaways.png);
        }
        &.default-icon.white-icon {
            background-image: url(/sites/all/themes/ahlan_revamp/images/default-white.png);
        }
        // &.here-now-white {
        //     background-color: transparent;
        //     background-image: url(http://localhost/ahlan/html/assets/img/here-now-white.png);
        // }
        &.large-icon {
            //padding: 0 10px;
            width: 16px;
            height: 15px;
        }
        @include breakpoint(sm) {
            &.large-icon {
                //padding: 0 10px;
                width: 27px;
                height: 26px;
            }
        }
        @include breakpoint(md) {
            &.large-icon {
                //padding: 0 10px;
                width: 29px;
                height: 28px;
            }
        }
        @include breakpoint(lg) {
            &.large-icon {
                //padding: 0 10px;
                width: 31px;
                height: 30px;
            }
        }
        &.small-icon {
            padding: 0 0px;
            width: 13px;
            height: 12px;
            @include breakpoint(sm) {
                width: 18px;
                height: 16px;
            }
            @include breakpoint(md) {
                width: 20px;
                height: 18px;
            }
            @include breakpoint(lg) {
                width: 22px;
                height: 20px;
            }
        }
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        // background-size: cover;
    }
}

.main-overlay .trns-bg {
    background-color: transparent !important;
}

.icon-center {
    width: 60px;
    display: flex;
    justify-content: center;
    @include breakpoint(sm) {
        width: 120px;
    }
    @include breakpoint(md) {
        width: 140px;
    }
    @include breakpoint(lg) {
        width: 160px;
    }
    margin: 0rem auto;
    position: relative;
    z-index: 1;
    margin-top: 2px;
    margin-bottom: 10px;
    @include maxbreakpoint(xs) {
        margin-top: 5px;
        margin-bottom: 0px;
    }
    &:before {
        content: "";
        display: block;
        width: 20px;
        @include breakpoint(sm) {
            width: 40px;
        }
        @include breakpoint(md) {
            width: 50px;
        }
        @include breakpoint(lg) {
            width: 56px;
        }
        height: 1px;
        background: #B9B9B9;
        position: absolute;
        left: 0;
        top: 50%;
        z-index: -2;
    }
    &:after {
        content: "";
        display: block;
        width: 20px;
        @include breakpoint(sm) {
            width: 40px;
        }
        @include breakpoint(md) {
            width: 50px;
        }
        @include breakpoint(lg) {
            width: 56px;
        }
        height: 1px;
        background: #B9B9B9;
        position: absolute;
        right: 0;
        top: 50%;
        z-index: -2;
    }
}

.icon-center {
    .center-icon {
        a {
            font-size: 0px;
            width: 100%;
            height: 100%;
            display: block;
        }
    }
}

.listing-slider {
    margin-top: 0 !important;
}

.listing-slider .section-footer {
    padding: 0 !important;
}

.addvertisement {
    background: #fff;
    // border-top: 1px solid #dadada;
    // border-bottom: 1px solid #dadada;
}

.addvertisement .googleAds div {
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

.addvertisement.border-top-0 .googleAds div {
    border-top: 0;
}

.addvertisement iframe {
    margin: 2.75rem 0;
    @include maxbreakpoint(smm) {
        margin: 1rem 0;
    }
}

.mobile-cs {
    @include maxbreakpoint(smm) {
        padding-bottom: 1.5rem !important;
        padding-top: 1.5rem !important;
    }
}

.mobile-cs.child-css .col-md-9 .big-main-image.mb-7 {
    @include maxbreakpoint(smm) {
        margin-bottom: 1.5rem !important;
    }
}

.mobile-cs.py-5.home-two-grid {
    @include maxbreakpoint(smm) {
        padding-top: .75rem !important;
    }
}

.mobile-cs.py-5 {
    @include maxbreakpoint(smm) {
        padding-top: 1.5rem !important;
    }
}

.mobile-cs.trending-slider {
    @include maxbreakpoint(smm) {
        padding-bottom: 0 !important;
    }
}

.child-css .col-md-9 .big-main-image.mb-7 {
    margin-bottom: 2rem !important;
    @include breakpoint(md) {
        margin-bottom: 1rem !important;
    }
}

.child-css .col-md-9 .big-main-image.mb-7:last-child {
    margin-bottom: 0 !important;
}

.child-css .col-md-9 .row.mb-4:last-child {
    margin-bottom: 0 !important;
}

.child-css .col-md-9 .row.mb-4 {
    @include maxbreakpoint(xs) {
        margin-bottom: 0 !important;
    }
}

.listing-main-space .cus-small-title {
    @include maxbreakpoint(xs) {
        font-size: 14px;
        line-height: 18px;
        padding: 0px 15px;
    }
}

.mob-nav-social-icon li {
    @include maxbreakpoint(xs) {
        display: inline-block;
        width: auto;
        margin-right: 20px !important;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.mob-nav-social-icon li:last-child {
    @include maxbreakpoint(xs) {
        margin-right: 0 !important;
    }
}