$section-color: #1A1A1A;
$gray-light-01: #f4f4f7;
$nav-btn-color: #262626;
.section-bg {
    background-repeat: no-repeat;
    background-position: top center;
}
 
.section-listing {
    background-color: $gray-light-01;
    font-family: $font-family-montserrat;
    .section-top {
         background-image: url("#{$icon-path}ahlan-listing-bg-blue.jpg");
         background-size: 100%;
       // background-image: url(/sites/all/themes/ahlan_revamp/images/ahlan-listing-md-bg.jpg);
        background-position: top;
        @media (max-width: 1920px) {
            background-size: 1930px; 
        }
        @media (max-width: 1440px) {
            background-size: 1930px; 
        }
        @media (max-width: 1199px) {
            background-size: 2015px; 
        }
        @media (max-width: 991px) {
            background-size: 1545px;
        }
        @media (max-width: 600px) {
            background-size: 1250px;
        }
        @media (max-width: 480px) {
            background-size: 1232px;
        }
        @media (max-width: 380px) {
            background-size: 1195px;
        }
    }
    .section-slider {
        .slick-prev,
        .slick-next,
        .nav-btn {
            width: 55px;
            height: 55px;
            background-color: $nav-btn-color;
            border: 1px solid rgba($color: $white, $alpha: 0.5);
            z-index: 2;
            color: $white;
            &:before {
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                font-size: 30px;
                @media (max-width: 1199px) {
                    font-size: 22px;
                }
            }
        }
        .slick-prev,
        .prev-btn {
            left: 9%;
            top: 170px;
            &:before {
                content: "";
                border: solid rgba(255, 255, 255, 1);
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 7px;
                top: 0;
                bottom: 0;
                margin: auto;
                right: -4px;
                transform: rotate(135deg);
                position: relative;
            }
            @media (max-width: 1920px) {
                left: 9.5%;
            }
            @media (max-width: 1600px) {
                left: 12%;
            }
            @media (max-width: 1440px) {
                left: 13%;
            }
            @media (max-width: 1439px) {
                left: 10%;
            }
            @media (max-width: 1367px) {
                left: 10%;
            }

            @media (max-width: 1199px) {
                left: 0px;
                top: 655px;
                background: none;
                border: none;
                width: 30px;
            }
            @media (max-width: 991px) {
                top: 475px;
            }
            @media (max-width: 600px) {
                top: 360px;
            }
            @media (max-width: 480px) {
                top: 351px;
            }
            @media (max-width: 380px) {
                top: 345px;
            }
        }
        .slick-next,
        .next-btn {
            right: 9%;
            top: 170px;
            &:before {
                content: "";
                border: solid rgba(255, 255, 255, 1);
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 7px;
                top: 0;
                bottom: 0;
                margin: auto;
                right: 4px;
                transform: rotate(-45deg);
                position: relative;
            }
            @media (max-width: 1920px) {
                right: 9.5%;
            }
            @media (max-width: 1600px) {
                right: 12%;
            }
            @media (max-width: 1440px) {
                right: 13%;
            }
            @media (max-width: 1439px) {
                right: 10%;
            }
            @media (max-width: 1367px) {
                right: 10%;
            }
            @media (max-width: 1199px) {
                right: 0px;
                top: 655px;
                background: none;
                border: none;
                width: 30px;
            }
            @media (max-width: 991px) {
                top: 475px;
            }
            @media (max-width: 600px) {
                top: 360px;
            }
            @media (max-width: 480px) {
                top: 351px;
            }
            @media (max-width: 380px) {
                top: 345px;
            }
        }
    }
    img {
        max-width: 100%;
    }
    .section-title {
        font-family: inherit;
        font-weight: 300;
        line-height: 1.3;
        @media (max-width: 1600px) {
            font-size: 25px;
        }
        .text-title {
            display: inline-block;
            padding: 13px 60px;
            border-style: solid;
            border-width: 2px 0;
            border-color: $white;
            position: relative;
            font-family: $font-family-montserrat-light;
            @media (max-width: 1199px) {
                padding: 13px 25px;
            }
            &:before,
            &:after {
                content: "";
                display: inline-block;
                width: 23px;
                height: 68px;
                position: absolute;
                top: 0;
            }
            &:before {
                // background: url("#{$icon-path}left-border.png") no-repeat;
                background: url(/sites/all/themes/ahlan_revamp/images/left-border.png) no-repeat;
                left: -21px;
                @media (max-width: 1600px) {
                    left: -20px;
                    background-size: 90%;
                    top: -1px;
                }
            }
            &:after {
                // background: url("#{$icon-path}right-border.png") no-repeat;
                background: url(/sites/all/themes/ahlan_revamp/images/right-border.png) no-repeat;
                right: -21px;
                @media (max-width: 1600px) {
                    background-size: 90%;
                    top: -1px;
                }
            }
        }
    }
    .section-header {
        padding: 40px 0 70px;
        border-bottom: 1px solid rgba($color: $white, $alpha: 0.29);
        font-weight: 300;
        text-align: center;
        color: $white;
        text-transform: uppercase;
        position: relative;
        z-index: 1;
        @media (max-width: 1199px) {
            padding: 35px 0 40px;
        }
        .text-highlight {
            font-weight: 600;
            font-family: $font-family-montserrat-semibold;
            @include text-shadow(0 -2px 10px rgba($color: $white, $alpha: 0.82));
        }
    }
    .slider-wrap {
        padding-bottom: 75px;
    }
    .slider-main {
        background-color: rgba(255, 255, 255, 0.2);
        padding: 1px 1px;
    }
    .slick-current .slider-main {
        padding: 15px 15px 0;
        background-color: #f4f4f7;
        margin-top: 85px;
        margin-bottom: 75px;
        &:after {
            content: "";
            box-shadow: 0px 0px 65px 0 rgba(0, 0, 0, 1);
            width: 80%;
            height: 50px;
            position: absolute;
            bottom: 75px;
            left: 0;
            right: 0;
            margin: auto;
            border-radius: 20%;
        }
        @media (max-width: 1199px) {
            padding: 3px 3px 0;
            margin-top: 0;
            margin-bottom: 0;
            box-shadow: none;
        }
    }
    .slider-maincontent {
        backdrop-filter: blur(3.5px);
        align-items: end;
        display: flex;
        background: rgba(0, 0, 0, 0.45);
        @media (max-width: 1199px) {
            display: block;
        }
    }
    .slick-current .slider-maincontent {
        background-color: $black;
        z-index: 1;
        position: relative;
        @media (max-width: 1920px) {
            height: 655px;
        }
        @media (max-width: 1440px) {
            height: 555px;
        }
        @media (max-width: 1199px) {
            height: auto;
        }
    }
}

.section-bg {
    .user-content {
        color: $white;
        padding: 10px 25px 50px 45px;
        .counter {
            font-size: 160px;
            line-height: 1;
            color: $cyan-02;
            opacity: 0.28;
            display: block;
            display: flex;
        }
    }
    .user-intro {
        display: flex;
        flex-flow: row-reverse;
        align-items: baseline;
    }
    .user-name {
        margin-bottom: 25px;
        font-size: 35px;
        line-height: 1.3;
        a {color:#7EC6DB;}
        @include text-shadow(0 3px 15px rgba($color: rgb(203, 236, 240), $alpha: 0.72));
    }
    .user-name,
    .prev-username,
    .next-username {
        color: $cyan-01;
        font-style: italic;
    }
    .prev-username,
    .next-username {
        margin-bottom: 55px;
        font-size: 30px;
        line-height: 1.3;
    }
    .user-address {
        margin-bottom: 30px;
        @media (max-width: 1199px) {
            margin-bottom: 15px;
            margin-top: -15px;
            font-size: 14px;
        }
        @media (max-width: 767px) {
            margin-bottom: 10px;
            margin-top: -10px;
            font-size: 10px;
        }
    }
}

.slider-img-content {
    flex: 0 0 62.5%;
}

.slider-text-content {
    flex: 0 0 37.5%;
}

.slider-title {
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 160px;
    line-height: 1;
    position: absolute;
    top: 55px;
    text-shadow: 0 0 4px #fff;
    left: 0;
    right: 0;
    font-family: $font-family-montserrat;
    @include text-shadow(0 0 4px $white);
    span {
        opacity: 0.3;
    }
    @media (max-width: 1400px) {
        font-size: 100px;
        top: 105px;
    }
    @media (max-width: 1199px) {
        font-size: 95px;
        top: 38px;
    }
    @media (max-width: 991px) {
        font-size: 60px;
        top: 28px;
    }
    @media (max-width: 600px) {
        font-size: 50px;
    }
    @media (max-width: 480px) {
        font-size: 40px;
        top:35px;
    }
}

.counter {
    font-style: italic;
    font-weight: 700;
    font-size: 100px;
    font-family: $font-family-merriweather-black;
    line-height: 1.2;
    color: rgba($color: $white, $alpha: 0.6);
    &:before {
        content: ".";
        display: inline-block;
    }
}

.user-description {
    p {
        color: rgb(195, 195, 195);
        margin-bottom: 30px;
        @media (max-width: 1199px) {
            font-size: 14px;
            margin-bottom: 0;
        }
        @media (max-width: 767px) {
            font-size: 11px;
            line-height: 15px;
        }
    }
    .view-more {
        margin-top: 20px;
    }
}

.view-more {
    background-color: $cyan-01;
    width: 55px;
    height: 55px;
    text-align: center;
    display: inline-block;
    color: $white;
    position: relative;
    box-shadow: 0px 0px 15px #7EC6DB;
    &:before,
    &:after {
        background: #fff;
        display: block;
        height: 4px;
        left: 0;
        position: absolute;
        top: 0;
        transform-origin: center;
        transition: .5s ease-in-out;
        width: 18px;
        right: 0;
        margin: auto;
        bottom: 0;
        content: "";
    }
    &:before {
        transform: rotate(0deg);
    }
    &:after {
        transform: rotate(90deg);
    }
    span {
        display: none;
    }
    @media (max-width: 1199px) {
        width: 25px;
        height: 25px;
        &:after {
            font-size: 15px;
            line-height: normal;
        }
        span {
            position: absolute;
            left: 30px;
            color: #60c6eb;
            letter-spacing: 0.61px;
            font-size: 13px;
            text-transform: uppercase;
            line-height: 2;
            display: block;
            width:100px;
        }
    }
    @media (max-width: 767px) {
        width: 18px;
        height: 18px;
        margin-top: 12px;
        &:before,
        &:after {
            height: 2px;
            width: 8px;
        }
        span {
            left: 20px;
            font-size: 10px;
            width: 100px;
        }
    }
}

.slider-wrapper {
    position: relative;
    padding-top: 110px;
    @media (max-width: 1199px) {
        padding-top: 0;
    }
}

.section-footer {
    padding: 10px 20px 65px;
    @media (max-width: 1199px) {
        margin: 10px 0 0 0 !important;
        padding: 10px 10px 5px 10px;
        border-bottom: 6px solid #a7cdd8;
    }
    .slider-quote {
        font-style: italic;
        font-size: 27px;
        line-height: 34px;
        color: #80989f;
        text-align: center;
        font-family: $headings-font-family;
        @media (max-width: 1199px) {
            font-size: 15px;
            line-height: 18px;
        }
        @media (max-width: 767px) {
            font-size: 12px;
            line-height: 15px;
        }
    }
}

// my css //
.slider {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.section-listing {
    .slick-slide {
        margin: 0px 30px;
        @media (max-width: 1199px) {
            margin: 120px 30px 0 30px;
        }
        @media (max-width: 991px) {
            margin: 80px 30px 0 30px;
        }
        @media (max-width: 600px) {
            margin: 70px 30px 0 30px;
        }
    }
    .slick-slide img {
        width: 100%;
        display: block;
        object-fit: cover;
        height: 100%;
    }
    .slick-prev:before,
    .slick-next:before {
        color: $white;
    }
    .slick-slide {
        transition: all ease-in-out .3s;
        // opacity: .2; 
    }
    // .slick-active {
    //     opacity: .5;
    // } 
    .slick-current {
        opacity: 1;
    }
    .slider-img-content {
        width: 64.5%;
        height: 100%;
        @media (max-width: 1199px) {
            width: 100%;
        }
    }
    .slider-text-content {
        width: 35.5%;
        @media (max-width: 1199px) {
            width: 100%;
        }
    }
}

.listing-slider {
    .slick-slide {
        .slider-img-content,
        .user-description,
        .user-address {
            display: none;
        }
        .user-content {
            padding: 0;
        }
        .user-intro {
            position: relative;
            height: 315px;
            margin: 0;
            .counter {
                position: absolute;
                left: 15px;
                bottom: 10px;
                font-size: 100px;
                @media (max-width: 1600px) {
                    font-size: 65px;
                }
            }
            .user-name {
                position: absolute;
                left: 20px;
                text-align: left;
                width: 50%;
                top: 15px;
                font-size: 30px;
                a {color:#7EC6DB;}
                @media (max-width: 1600px) {
                    font-size: 25px;
                }
            }
        }
        &.next-slide {
            .user-intro {
                .counter {                    
                    color: #fff;
                    opacity: 0.3;
                }
            }
        }
        &.prev-slide {
            .user-intro {
                .counter {
                    position: absolute;
                    right: 15px;
                    bottom: 10px;
                    font-size: 100px;
                    left: inherit;
                    color: #fff;
                    opacity: 0.5;
                    @media (max-width: 1600px) {
                        font-size: 65px;
                    }
                }
                .user-name {
                    position: absolute;
                    right: 20px;
                    text-align: right;
                    width: 50%;
                    top: 15px;
                    font-size: 30px;
                    left: inherit;
                    direction: rtl;
                    a {
                        color:#7EC6DB;
                    }
                    @media (max-width: 1600px) {
                        font-size: 25px;
                    }
                }
            }
        }
        &.prev-slide,
        &.next-slide {
            .slider-text-content {
                width: 100%;
                flex: 100%;
            }
        }
        &.slick-current {
            position: relative;
            // top: 80px;
            // height: calc(651px + 30px);
            @media (max-width: 1199px) {
                height: auto;
                top: 0px;
                padding-top: 0;
            }
            .slider-img-content,
            .user-description,
            .user-address {
                transition: all ease-in-out .1s;
                display: block;
            }
            .user-content {
                padding: 10px 25px 120px 45px;
                @media (max-width: 1600px) {
                    padding: 10px 25px 25px 25px;
                }
                @media (max-width: 767px) {
                    padding: 5px 12px 10px 12px;
                }
            }
            .user-intro {
                position: relative;
                height: auto;
                .counter {
                    position: inherit;
                    left: 0;
                    bottom: 0;
                    font-size: 160px;
                    @media (max-width: 1600px) {
                        font-size: 80px;
                    }
                    @media (max-width: 1199px) {
                        font-size: 55px;
                    }
                }
                .user-name {
                    position: inherit;
                    left: 0;
                    text-align: left;
                    width: auto;
                    top: 0;
                    font-size: 35px;
                    a {color:#7EC6DB;}
                    @media (max-width: 1600px) {
                        font-size: 30px;
                    }
                    @media (max-width: 1200px) {
                        font-size: 25px;
                    }
                    @media (max-width: 1199px) {                        
                        font-size: 18px;                       
                        position: relative;
                        top:-1.25rem;
                        margin: 0;
                        width:100%;
                    }
                    @media (max-width: 767px) {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.section-tab {
    margin: 0;
    list-style: none;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
    border: none;
    z-index: 9;
    justify-content: center;
    @media (max-width: 1199px) {
        bottom: -24px;
    }
    @media (max-width: 991px) {
        bottom: -17px;
    }
    li {
        width: 60px;
        height: 60px;
        margin-left: 10px;
        margin-right: 10px;
        outline: 0;
        border-radius: 50%;
        transition: all 0.5s;
        display: inline-flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        @media (max-width: 1199px) {
            width: 50px;
            height: 50px;
        }
        @media (max-width: 991px) {
            width: 35px;
            height: 35px;
        }
        &:before {
            content: "";
            width: 5px;
            height: 5px;
            background: #fff;
            display: inline-block;
            vertical-align: middle;
            line-height: 10px;
            border-radius: 50%;
            @media (max-width: 1199px) {
                width: 3px;
                height: 3px;
            }
        }
        &:after {
            content: "";
            width: 5px;
            height: 5px;
            background: #fff;
            display: inline-block;
            vertical-align: middle;
            line-height: 10px;
            border-radius: 50%;
            @media (max-width: 1199px) {
                width: 3px;
                height: 3px;
            }
        }
        span {
            display: inline-block;
            vertical-align: middle;
            line-height: 10px;
            margin-top: 0;
            margin-bottom: 0;
            background-color: #fff;
            margin-left: 3px;
            margin-right: 3px;
            border-radius: 30px;
            width: 10px;
            height: 10px;
            @media (max-width: 1199px) {
                width: 7px;
                height: 7px;
            }
        }
        a {
            padding: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            border: none !important;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            &.active {
                background-color: rgba(255, 255, 255, 0.6) !important;
                box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
                width: 100%;
                height: 100%;
                position: absolute;
                border-radius: 100%;
                border: none;
            }
        }
    }
}

.lists-more-slide {
    .section-top {
        background-image: url("#{$icon-path}ahlan-listing-bg-gold.jpg");
    }
    .user-name,
    .slick-slide.slick-current .user-intro .user-name a,
    .slick-slide.prev-slide .user-intro .user-name a,
    .slick-slide .user-intro .user-name a,
    .user-content .counter {
        color:#d8c9a7;
    }
    .view-more {
        background-color: #d8c9a7;
        box-shadow: 0px 0px 15px #d8c9a7;
    }
}

.travel-gateways-slide {
    .section-top {
        background-image: url("#{$icon-path}ahlan-listing-bg-green.jpg");
    }
    .user-name,
    .slick-slide.slick-current .user-intro .user-name a,
    .slick-slide.prev-slide .user-intro .user-name a,
    .slick-slide .user-intro .user-name a,
    .user-content .counter {
        color:#c3ccb0;
    }
    .view-more {
        background-color: #c3ccb0;
        box-shadow: 0px 0px 15px #c3ccb0;
    }
}

.food-drinks-slide {
    .section-top {
        background-image: url("#{$icon-path}ahlan-listing-bg-purple.jpg");
    }
    .user-name,
    .slick-slide.slick-current .user-intro .user-name a,
    .slick-slide.prev-slide .user-intro .user-name a,
    .slick-slide .user-intro .user-name a,
    .user-content .counter {
        color:#b3b0cc;
    }
    .view-more {
        background-color: #b3b0cc;
        box-shadow: 0px 0px 15px #b3b0cc;
    }
}
