/*======================================
=            search wrapper            =
======================================*/

.search-wrapper {
    background-color: #ececef;
    display: none;
    padding: 15px 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    backdrop-filter: blur(50px);

    .search-wrapper ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #777777;
        font-size: 17px!important;
    }
    
    .search-wrapper ::-moz-placeholder {
        /* Firefox 19+ */
        color: #777777;
        font-size: 17px!important;
    }
    
    .search-wrapper :-ms-input-placeholder {
        /* IE 10+ */
        color: #777777;
        font-size: 17px!important;
    }
    
    .search-wrapper :-moz-placeholder {
        /* Firefox 18- */
        color: #777777;
        font-size: 17px!important;
    }
    
    .search-inner-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);

        .input-group-text {
            background-color: #000;
            color: #fff;
            text-transform: uppercase;
            padding: 0 25px;
            border: 0;
            line-height: 1.32;
            letter-spacing: 2px;            
            font-family: $font-family-montserrat;            
        }
    }

    #search-close {
        position: absolute;
        width: 60px;
        height: 60px;
        display: inline-block;
        right: 15px;
        top: 15px;
        cursor: pointer;

        &:before, 
        &:after {
            content: "";
            background: $black;
            display: block;
            height: 2px;
            position: absolute;
            top: 30px;            
            width: 30px;
            right: 15px;
            margin: auto;
            transform-origin: center;            
            @include transition(.5s ease-in-out);
        }

        &:after {  
            transform: rotate(-45deg);
        }

        &:before {
            transform: rotate(45deg);
        }
    }

    .input-group-text {
        cursor: pointer;
    }
    .form-control,
    .input-group-text {
        background-color: #fff;
        color: #777777;
        height: 60px;        
        border: 1px solid #c4c4c4;        
        font-size: 22px;
        @include box-shadow(none);
        @include border-radius(0);
    }

    .form-control:focus,
    .input-group-text:focus {
        @include box-shadow(none);
    }

    .type-text {
        font: italic 600 14px/2.33 $font-family-merriweather-light-italic;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: left;
        color: #9f9f9f;
        margin: 5px 0 0 10px;
    }
}

/*=====  End of search wrapper  ======*/


/*==================================
=            navigation            =
==================================*/
@media screen and (min-width: 992px) {
    .transparent-bg{
        .dropdown {
            .term-here-now:before { background: url($icon-path+'icon1-wh.svg') no-repeat center !important; }
            .term-stars-stories:before { background: url($icon-path+'icon2-wh.svg') no-repeat center !important; }
            .term-food-drinks:before { background: url($icon-path+'icon3-wh.svg') no-repeat center !important; }
            .term-life-style:before { background: url($icon-path+'icon4-wh.svg') no-repeat center !important; }
            .term-travel-getaways:before { background: url($icon-path+'icon5-wh.svg') no-repeat center !important; }
            .term-lists-more:before { background: url($icon-path+'icon6-wh.svg') no-repeat center !important; }
        }
    }
}


.ahlan-menu {
    z-index: 999;
    border-bottom: 1px solid #E5E3E3;
    font-family: $font-family-montserrat;
    .dropdown-item:focus,
    .dropdown-item:hover {
        color: #0A0A0A;
    }
    .navbar-brand {
        display: none;
        @media screen and (max-width: 991px) {
            display: block;
            margin: 0;
            padding: 0;
            width: 100%;
            background: #f1f1f5;
        }
    }
    .iconbar {
        color: #0A0A0A;
        background: #000;
        width: 30px;
        height: 12px;
        display: inline-block;
    }
    .navbar-nav {
        .nav-item {
            .nav-link {
                color: #0A0A0A;
                padding: 20px 20px;
                text-transform: uppercase;
                position: relative;
                @media screen and (max-width: 1367px) {
                    padding: 20px 15px;
                }
                @media screen and (max-width: 1199px) {
                    padding: 15px 9px;
                    font-size: 14px;
                }
                .img-thumbnail {
                    border: none;
                    border-radius: 0;
                    padding: 0.3rem;
                    background-color: $white;
                }
            }
            &:hover .submenu {
                display: block;
            }
            &.dropdown span {
                opacity: 1;
                transition: opacity .65s ease-in-out;
            }
            &.dropdown:hover span {
                opacity: 0;
                transition: opacity .25s ease-in-out;
                @media (max-width: 991px) {
                    opacity: 1;
                }
            }
            &.dropdown {
                a:before {
                    content: "";
                    display: inline-block;
                    width: 30px;
                    height: 0;
                    position: absolute;
                    z-index: 1;
                    left: 0;
                    top: 0;
                    right: 0;
                    margin: auto;
                    bottom: -40px;
                    overflow: hidden;
                    transition: .5s ease-in-out;
                    @media (max-width: 991px) {
                        bottom: 0;
                        height: 30px;
                        right: inherit;
                        width: 25px;
                        left: -35px;
                    }
                }
            }
            &.dropdown:hover a:before {
                bottom: 0;
                height: 30px;
            }
            &.dropdown {
                .term-here-now:before { background: url($icon-path+'icon1.svg') no-repeat center; }
                .term-stars-stories:before { background: url($icon-path+'icon2.svg') no-repeat center; }
                .term-food-drinks:before { background: url($icon-path+'icon3.svg') no-repeat center; }
                .term-life-style:before { background: url($icon-path+'icon4.svg') no-repeat center; }
                .term-travel-getaways:before { background: url($icon-path+'icon5.svg') no-repeat center; }
                .term-lists-more:before { background: url($icon-path+'icon6.svg') no-repeat center; }
            }
            
        }
        @media screen and (max-width: 991px) {
            overflow: hidden;
        }
    }
    .dropdown-menu {
        border: none;
        background-color: #F5F5F8 !important;
        &.active {
            display: block;
            &.show {
                display: none;
            }
        }
        .nav-item .nav-link {
            color: #1c1c1c;
            padding: 10px 0;
        }
        .nav-item h6 {
            font-size: $font-size-14;
            font-style: italic;
            a {
                color: #1c1c1c;
            }
        }
        @media screen and (max-width: 991px) {
            background-color: $white  !important;
            position: static;
            float: none;
            border-radius: 0;
            padding: 0;
            box-shadow: none;
            margin: -1rem 0 -1rem -63px;
            width: calc(100% + 101px);
            top: 0;
        }
    }
}

.submenu .nav-tab .nav-item .nav-link {
    padding: 10px 20px;
}

.submenu .nav {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    margin-bottom: 10px;
    @media screen and (max-width: 991px) {
        border:none;
        margin:0;
        li {
            float: left; 
            width: 100%;
            border-bottom: solid 1px rgba(0, 0, 0, 0.10);
            padding: 0 30px 0 55px;
            &:first-child{border-top: solid 1px rgba(0, 0, 0, 0.10);}
            &:last-child{border:none;}
            a {
                color: #bebebe !important;
                font-weight: normal !important;
                font-size: 15px !important;
                letter-spacing: 0.3px !important;
                padding: 8px 0 !important;
            }
        }
    }
}

.navbar .dropdown:hover>.dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    margin-top: 0;
}

.dropdown-submenu {
    display: none;
}

.ahlan-menu .submenu .nav-item:hover .dropdown-submenu {
    display: block;
    position: absolute;
    left: 0;
    z-index: 1;
    .display-no {
        display: none;
    }
}

.nav-pane {
    display: none;
    &.active {
        display: block;
    }
}

li.nav-item.dropdown.active .display-no {
    display: none;
}

.head-social {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        float: left;
        margin: 0 5px 0 5px;
        a {
            float: left;
            padding: 0;
        }
    }
    
    @media screen and (max-width: 991px) {
        display: none;
    }
}

.mega-menu-heading {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    font-family: $font-family-montserrat;
}

.view-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-family: $font-family-merriweather-bold-italic;
}

header {
    z-index: 1001;
    top: -200px;
    left: 0;
    width: 100%;
    transition: all 0.5s;
    .smaller-header { 
        position: absolute !important;
    }
    @media screen and (max-width: 991px) {
       position: absolute;
       top:0;
       &.smaller-header {
           position: fixed  !important;
           top:0;
       }
    }
    &.smaller-header {
        
        // .navbar-brand {
        //     display: block;
        // }
        // .navbar-nav {
        //     margin: 0 auto 0 0;
        // }
        .ahlan-menu {
            border:none;
            .navbar-brand {background: rgba(241, 241, 245, 0);}
        }
        
    }
    
    .top-logo {
        padding-top: 0;
    }
}

@media screen and (max-width: 991px) {
.mega-canvas-link {    
    cursor: pointer;
    height: 100%;
    position: absolute;
    top: 0px;
    transition: .5s ease-in-out;
    width: 50px;
    z-index: 100;
    right: 0;
    margin: auto;
    &.active {border-left: 1px solid #000;}
    .hamburger {
        background: #000000;
        display: block;
        height: 2px;
        left: 0;
        position: absolute;
        top: 0;
        transform-origin: center;
        transition: .5s ease-in-out;
        width: 18px;
        right: 0;
        margin: auto;
        transform: rotate(-10deg);
        bottom: 0;
        &:before,
        &:after {
            background: #000000;
            content: "";
            display: block;
            height: 100%;
            position: absolute;
            transition: .5s ease-in-out;
            width: 100%;
        }
        &:before {
            top: -6px;
            right: -1px;
        }
        &:after {
            bottom: -6px;
            right: 1px;
        }
    }
    &.active .hamburger {
        transform: rotate(45deg);
        &:before {
            top: 0;
            right: 0;
            transform: rotate(90deg);
        }
        &:after {
            bottom: 0;
            right: 0;
            transform: rotate(90deg);
        }
    }
}
}

.fixed-top {
    display: none;
}

.open-menu {
    position: relative;
    #search-icon {
        cursor: pointer;
        height: 100%;
        position: absolute;
        top: 0px;
        transition: .5s ease-in-out;
        width: 50px;
        z-index: 100;
        right: 50px;
        margin: auto;
        border-left: 1px solid #000;
        display: none;
        i {
            display: flex;
            left: 0;
            position: absolute;
            top: 0;
            transition: .5s ease-in-out;
            width: 35px;
            right: 0;
            margin: auto;
            bottom: 0;
            height: 35px;
            align-items: center;
            justify-content: center;
        }
    }
}


.mobile-menu {
    display: none;
    @media (max-width: 991px) {
        display: inline-block;
        list-style: none;
        margin: 0;
        width: 100%;
        padding: 15px 30px 5px 55px;
        border-top: 1px solid rgba(180, 180, 180, 0.25);
        li {
            float: left;
            width: 100%;
            text-transform: uppercase;
            margin: 5px 0 5px 0;
            a {
                text-decoration: none;
                font-family: $font-family-montserrat-semibold;
                color: #8d8d8d;
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 991px) {
  
    .ahlan-menu .container {
        width: 100% !important;
        max-width: 100%;
    }
    .fixed-top {
        position: absolute;
        top: 0;
        right: 0;
        left: inherit;
        z-index: 9;
        display: block;
        height: 100%;
        width: 100px;
    }
    .bottom-collapse {
        opacity: 0;
        transform: translate(0%, 0%);
        -webkit-transition: 0.1s ease-in-out;
        -moz-transition: 0.1s ease-in-out;
        -ms-transition: 0.1s ease-in-out;
        -o-transition: 0.1s ease-in-out;
        transition: 0.1s ease-in-out;
        visibility: hidden;
        z-index: 99999;        
        position: fixed;
        width: 100%;
        height: 0;
        background: #f1f1f5;
        left: 0;        
        top: 0;
        padding: 0;
        box-sizing: border-box;
        .nav-item.dropdown {
            border-top: 1px solid rgba(180, 180, 180, 0.25);
            padding: 0 30px 0 55px;
            &.show{ background-color: $white; }
            .dropdown-menu {
                .mega-menu-heading, 
                .col-md-12:last-child { display: none;}
            } 
        }      
        .navbar-brand {margin: 0 0 0 -100px;}
    }
    .bottom-collapse.active {
        opacity: 1;
        height: 100%;
        visibility: visible;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -ms-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        overflow-y: scroll;
    }
}


/*=====  End of navigation  ======*/


/*=====================================
=            media queries            =
=====================================*/

@media screen and (min-width: 992px) {
    .dropdown-toggle::after {
        display: none;
    }
    .navbar {
        padding-top: 0;
        padding-bottom: 0;

        .dropdown-menu {
            display: block;
            border: none;
            padding: 0;
            width: 100%;            
            margin-top: 15px;            
            left: 0;
            right: 0;            
            top: 100%;
            background-color: #F5F5F8;
            opacity: 0;            
            transform: translateY(15px);
            visibility: hidden;            
            min-height: 350px;
            @include border-radius(0);
            @include transition(all 0.3s linear);
            transform-origin: 0 0;
            @include box-shadow(2px 5px 10px rgba(0, 0, 0, 0.2));
        }
        .dropdown {
            position: static;
        }
    }
    .navbar-nav {
        margin: auto;
    }
}

@media screen and (max-width: 991px) {
    .ahlan-menu {
        padding: 0;
    }
    .ahlan-menu .navbar-nav .nav-item .nav-link {
        padding: 13px 0;
        font-family: $font-family-montserrat-semibold;
        font-size: 14px;
        letter-spacing: 0.42px;
    }
    .top-logo {
        height: 55px;
        display: flex;
        justify-items: center;
        align-items: center;
        display: none;
    }
    .dropdown-toggle::after {
        content: "";
        border: solid rgba(0, 0, 0, 0.40);
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 4px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 0;
        transform: rotate(-45deg);
    }
    .dropdown.show a.dropdown-toggle:after {
        transform: rotate(45deg);
    }

    i.dropdown-icon {
        padding: 13px 0;
        position: relative;
        left: 100%;
        width: 30px;
        height: 30px;
        top: -25px;
    }

    .dropdown-icon:after {
        content: "";
        border: solid rgba(0, 0, 0, 0.40);
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 4px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 0;
        transform: rotate(-45deg);
    }
    .dropdown-menu.menu-open {
        display: block;
    }
}


/*=====  End of media queries  ======*/


/*++++ Transparent header code starts++++*/

header.transparent-bg {
    position: absolute;
    z-index: 999;
    width: 100%;
    border-bottom: solid 1px rgba(229, 227, 227, 0.33);
    top: 0;
    .ahlan-menu {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: #fff;
                    @media screen and (max-width: 991px) {
                        color: #000;
                    }
                }
                .dropdown-menu{
                    .submenu{
                        .nav-item{
                            .nav-link {
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
    }
    .head-social {
        li {
            color:$white;
            a {color:$white;}
        }
    }
}


.scroll-img {
    display: none;
}
.smaller-header {
    position: fixed !important;    
    background: rgba(244, 244, 247, 0.6);
    backdrop-filter: blur(5px);

    .top-logo {
        padding:0;
    }

    .ahlan-menu .navbar-nav .nav-item .nav-link {
        color:#000 !important;
    }

    .white-logo {
        display:none;
    }

    .scroll-img {
        display: block;
    }

    &.transparent-bg .head-social li {
        color: #000;
        a {
            color:#000;
        }
    }
}

@media screen and (max-width: 991px) {
    .transparent-bg {
        .navbar-brand {
            background: none !important;
        }

        .hamburger {
            background: #fff !important;
            &:before,&:after {
                background: #fff !important;
            }
        }

        .bottom-collapse.active {
            .hamburger {
                background: #000 !important;
                &:before, &:after {
                    background: #000 !important;
                }
            }
        }

        &.smaller-header {
            .hamburger {
                background: #000 !important;
                &:before,
                &:after {
                    background: #000 !important;
                }
            }
        }
    }
}