// .normal-grid-text {
//     .pd-r,
//     .pd-l {
//         padding: 0 8px;
//     }
// }
// .cus-small-title {
//     font-size: $font-size-28;
//     line-height: $line-height-36;
//     font-family: $font-family-merriweather-bold;
// }
.normal-grid-text {
    .small-btn-content {
        @include maxbreakpoint(xs) {
            padding: 0 20px;
        }
    }
}

.small-main-img {
    .cus-sm-img {
        margin-bottom: 17px;
        @include maxbreakpoint(xs) {
            margin-bottom: 8px;
        }
        @include breakpoint(sm) {
            margin-bottom: 15px;
        }
    }
    .small-btn-content {
        text-align: center;
    }
}

@include maxbreakpoint(xs) {
    .three-column-bottom {
        .small-main-img {
            .cus-sm-img {
                margin-bottom: .6rem;
            }
        }
    }
    .small-main-img {
        margin-bottom: 1rem;
    }
}