$section-color: #1A1A1A;
$gray-light-01: #f4f4f7;
$nav-btn-color: #262626;

.section-bg{
    background-repeat: no-repeat;
    background-position: top center; 
}
.section-listing{
    background-color: $gray-light-01;
    font-family: $font-family-montserrat;
    
    .section-top{
        background-image: url("#{$icon-path}background/ahlan-listing-lg-bg.jpg");
        background-position: 0 -700px;
    }

    .section-slider{
        padding-top: 75px;

        .owl-carousel{
            position: relative;
            z-index: 10;
        }
        
        &.slick-dotted, &.owl-theme{
            margin-bottom: 0;

            li{
                width: 60px;
                height: 60px;
                margin: 0 15px;
                padding: 15px 0;
                @include border-radius(50%);
                transition: all 0.5s;

                &.slick-active{
                    background-color: rgba($color: $white, $alpha: 0.6);
                    @include box-shadow(0 0 20px rgba($color: $white, $alpha:0.3));
                }

               &:before,&:after{
                font-family: 'slick';
                font-size: 6px;
                line-height: 20px;    
                content: '•';
                color: $white;
                opacity: 0.6;
                vertical-align: middle;
               }

                &:before{
                    left: 0;
               }
                &:after{
                    right: 0;
                }

                button{
                    display: inline-block;
                    padding:0;
    
                    &:before, &:after{
                        color: $white;
                        opacity: 0.6;
                        font-size: 10px;
                        position: static;
                    }
                }
            }            
        }

        .slick-dots, .owl-dots, div.owl-nav + .owl-dots {
            bottom: auto;
            top: 0;
            margin-top: -30px;
            z-index: 2;
        }

        div.owl-nav + .owl-dots, .owl-dots{
            position: absolute;
            width: 100%;
            margin-top: -5.6%;

            button{
                width: 60px;
                height: 60px;
                margin-left: 20px;
                margin-right: 20px;
                outline: 0;
                @include border-radius(50%);
                transition: all 0.5s;

                &.active{                    
                    background-color: rgba($color: $white, $alpha: 0.6);
                    @include box-shadow( 0 0 10px rgba($color: $white, $alpha: 0.4));
                }

                &:before, &:after{
                    content: "";
                    width:5px;
                    height:5px;
                    background: $white;
                    display: inline-block;
                    vertical-align: middle;
                    line-height: 10px;
                    @include border-radius(50%);
                }

                span{
                    display: inline-block;
                    vertical-align: middle;
                    line-height: 10px;
                    margin-top: 0;
                    margin-bottom: 0;
                    background-color: $white;
                    margin-left: 3px;
                    margin-right: 3px;
                }
            }
        }
        
        .prev-article, .next-article{
            position: absolute;
            top: 15%;            
            z-index: 100;   
            border-style: solid;
            border-color:  rgba($color: $white, $alpha: 0.5);
            padding:15px 5px 15px 5px;
            background-color: rgba($color: #3c3c3c, $alpha: 0.84);
            max-width: 210px;
            min-height: 230px;
        }

        .prev-article{
            left: 0;
            padding-right: 30px;
        }

        .next-article{
            right:0;    
            padding-left: 30px;
        }

        .nav-btn{
            position: absolute;
            top: 50%;
            margin-top: -20px;            
            cursor: pointer;
        }
        
        .slick-prev, .slick-next,
        .nav-btn{
            width: 55px;
            height:55px;
            background-color: $nav-btn-color;
            border: 1px solid rgba($color: $white, $alpha: 0.5);
            z-index: 2;
            color: $white;         

            &:before{
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                font-size: 30px;
            }
        }

        .slick-prev, .prev-btn{
            right: -30px;
            left: auto;
            &:before{
                content: "\f053";
            }
        }

        .slick-next, .next-btn{
            left: -30px;
            right: auto;

            &:before{
                content: "\f054";
            }
        }        
    }
    img{
        max-width: 100%;
    }
    .section-title{
        font-family: inherit;
        font-weight: 300;
        line-height: 1.3;

        .text-title{
            display: inline-block;
            padding: 13px 60px;
            border-style:solid;
            border-width: 2px 0;
            border-color: $white;
            position: relative;

            &:before, &:after{
                content:"";
                display: inline-block;
                width: 23px;
                height:68px;
                position: absolute;
                top:0;
            }

            &:before{
                background: url("#{$icon-path}left-border.png") no-repeat;
                left:-21px;
            }
            &:after{
                background: url("#{$icon-path}right-border.png") no-repeat;
                right:-21px;
            }
        }
    }
    .section-header{
        padding: 20px 0 70px;
        border-bottom: 1px solid rgba($color: $white, $alpha: 0.29);
        font-weight: 300;
        text-align: center;
        color: $white;        
        text-transform: uppercase;        

        .text-highlight{
            font-weight: 600;
            font-family: $font-family-montserrat-semibold;
            @include text-shadow(0 -2px 10px rgba($color: $white, $alpha:0.82));
        }
    }
    .slider-wrap{
        padding-bottom: 75px;
    }

    .slider-main{
        background-color: $white;
        padding:12px 12px 0;
        @include box-shadow( 3px 3px 75px 0 rgba(0, 0, 0, 0.2));
    }

    .slider-maincontent{        
        background-color: $black;
        align-items: center;
        display: flex;
    }
}
.section-bg{
    .user-content{
        color: $white;
        padding: 10px 25px 50px 45px;
        .counter{
            font-size: 160px;
            line-height: 1;
            color: $cyan-02;
            opacity: 0.28;
            display: block;
            display: flex;
        }
    }
    .user-intro{
        display: flex;
        flex-flow: row-reverse;
        align-items: baseline;
    }
    .user-name{        
        margin-bottom: 25px;
        font-size: 35px;
        line-height: 1.3;
        @include text-shadow(0 3px 15px rgba($color: rgb(203, 236, 240), $alpha:0.72));
    }
    .user-name, .prev-username, .next-username{
        color: $cyan-01;
        font-style: italic;           
    }
    .prev-username, .next-username{
        margin-bottom: 55px;
        font-size: 30px;
        line-height: 1.3;        
    }
    .user-address{
        margin-bottom: 30px;
    }
}
.slider-img-content{
    flex: 0 0 62.5%;
}
.slider-text-content{
    flex: 0 0 37.5%;
}
.slider-title{
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
    font-size:160px;    
    line-height: 1;
    @include text-shadow( 0 0 2px $white);

    span{
        opacity: 0.3;
    }
}
.counter{
    font-style: italic;
    font-weight: 700;
    font-size: 100px;
    font-family: $font-family-merriweather-black;
    line-height: 1.2;
    color: rgba($color: $white, $alpha: 0.6);    

    &:before{
        content: ".";
        display: inline-block;
    }
}
.user-description{
    p{
        color: rgb(195,195,195);
        margin-bottom: 30px;
    }
    .view-more{
        margin-top: 20px;
    }
}
.view-more{
    background-color: $cyan-01;
    width: 55px;
    height:55px;
    text-align: center;
    display: inline-block;
    color: $white;

    &:after{
        display: inline-block;
        content:"\f067";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 25px;
        line-height: 2.2em;        
    }
}
.slider-wrapper{
    position: relative;
}
.prev-article,.next-article{
    position: absolute;
    top: 50%;
}
.prev-article{
    left: 0;
    text-align: right;
    border-width: 1px 1px 1px 0;
}
.next-article{
    right:0;
    text-align: left;
    border-width: 1px 0 1px 1px;
}
.section-footer{
    padding: 10px 20px 65px;

    .slider-quote{
        font-style: italic;
        font-size: 27px;
        line-height: 34px;
        color: #80989f;
        text-align: center;
        font-family: $headings-font-family;
    }
}