.search {
    .search-result {
        .cus-result-search {
            display: flex;
            margin-bottom: 40px;
            @include maxbreakpoint(xs) {
                margin-bottom: 20px;
            }
            .right-con {
                justify-content: left;
                margin-left: 15px;
                @include maxbreakpoint(xs) {
                    margin-left: 10px;
                }
                position: relative;
                flex: 2;
                .cus-content {
                    margin-bottom: 2rem;
                    @include maxbreakpoint(smm) {
                        margin-bottom: 1rem;
                    }
                }
                h2 {
                    // font-size: $font-size-28;
                    line-height: normal;
                    font-family: $font-family-merriweather-bold;
                    @include maxbreakpoint(xs) {
                        font-size: 12px;
                        line-height: normal;
                    }
                    @include breakpoint(sm) {
                        font-size: 1rem;
                        line-height: 1.5rem;
                    }
                    @include breakpoint(md) {
                        font-size: 1.5rem;
                        line-height: 2rem;
                    }
                    @include breakpoint(lg) {
                        font-size: $font-size-28;
                        line-height: 36px;
                    }
                }
                .post-cat {
                    // position: absolute;
                    // left: 0;
                    // bottom: 0;
                    .publish-date {
                        color: #b9b9b9;
                        display: block;
                        @include maxbreakpoint(xs) {
                            line-height: normal;
                            font-size: 8px;
                        }
                    }
                }
                .icon-center {
                    width: 50px;
                    margin: .3rem 0 .3rem 0;
                    .center-icon {
                        @include maxbreakpoint(xs) {
                            height: 14px;
                            width: 14px;
                        }
                    }
                    @include maxbreakpoint(xs) {
                        margin: 0;
                    }
                    @include breakpoint(sm) {
                        width: 60px;
                    }
                    @include breakpoint(md) {
                        width: 70px;
                    }
                    @include breakpoint(lg) {
                        width: 80px;
                    }
                    &:before,
                    &:after {
                        width: 15px;
                        @include breakpoint(sm) {
                            width: 15px;
                        }
                        @include breakpoint(md) {
                            width: 20px;
                        }
                        @include breakpoint(lg) {
                            width: 25px;
                        }
                    }
                    .center-icon.large-icon {
                        @include breakpoint(sm) {
                            width: 20px;
                            height: 19px;
                        }
                        @include breakpoint(md) {
                            width: 24px;
                            height: 23px;
                        }
                        @include breakpoint(lg) {
                            width: 27px;
                            height: 26px;
                        }
                    }
                }
            }
            .cus-img {
                width: 110px;
                @include breakpoint(sm) {
                    width: 160px;
                }
                @include breakpoint(md) {
                    width: 210px;
                }
                @include breakpoint(lg) {
                    width: 230px;
                }
            }
        }
    }
    .search-custom-form {
        position: relative;
    }
    .search-custom-form .form-type-textfield {
        margin: 0 224px 0 0;
        @include maxbreakpoint(xs) {
            margin: 0 60px 0 0;
        }
        @include breakpoint(sm) {
            margin: 0 150px 0 0;
        }
    }
    .search-custom-form .form-type-textfield input.form-text {
        height: 60px;
        @include maxbreakpoint(xs) {
            height: 30px;
        }
        opacity: 1;
        border: solid 1px #c4c4c4;
        background-color: #ffffff;
    }
    .input-group-prepend {
        height: 60px;
        @include maxbreakpoint(xs) {
            height: 30px;
        }
        text-align: center;
        margin: 0;
        width: 224px;
        @include maxbreakpoint(xs) {
            width: 60px;
        }
        @include breakpoint(sm) {
            width: 150px;
        }
        position: absolute;
        right: 0;
        top: 0;
        border-top: 0;
        border-bottom: 0;
        cursor: pointer;
        background: #000;
        text-transform: uppercase;
        input {
            background-color: transparent;
            border: none;
            color: #fff;
            text-transform: unset;
            width: 224px;
            @include breakpoint(sm) {
                width: 150px;
            }
            padding: 0;
            font-size: 22px;
            line-height: 29px;
            letter-spacing: 4px;
            justify-content: center;
            cursor: pointer;
            @include maxbreakpoint(xs) {
                width: 60px;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: normal;
            }
        }
    }
    form {
        margin-bottom: 10px;
        margin-top: 50px;
        font-family: $font-family-montserrat;
        padding: 0px 8px;
        @include maxbreakpoint(xs) {
            padding: 0;
        }
        h3 {
            font-size: $font-size-28;
            font-family: $font-family-montserrat-bold;
            letter-spacing: 1.86px;
            line-height: 40px;
            text-transform: uppercase;
            margin-bottom: 10px;
            @include maxbreakpoint(xs) {
                font-size: 12px;
                list-height: normal;
                margin-bottom: 0;
            }
        }
    }
    .result-text {
        font-family: $font-family-merriweather-italic;
        font-size: 23px;
        line-height: 14px;
        margin-top: 20px;
        color: #9f9f9f;
        margin-bottom: 30px;
        padding: 0 8px;
        @include maxbreakpoint(xs) {
            font-size: 12px;
            margin-bottom: 10px;
            margin-top: 10px;
        }
    }
    .input-group {
        height: 60px;
        opacity: 1;
        border: solid 1px #c4c4c4;
        background-color: #ffffff;
        font-family: montserrat;
        font-weight: 600;
    }
    input.form-control {
        border-radius: 0;
        box-shadow: none !important;
        border: 0;
        padding: 0.375rem 2rem;
        font-size: 20px;
        @include maxbreakpoint(xs) {
            padding: 0.375rem 0.5rem;
            font-size: 14px;
        }
    }
     ::-webkit-input-placeholder {
        color: #aaaaaa;
        font-size: 20px !important;
        font-family: $font-family-montserrat !important;
        letter-spacing: 0.8px !important;
        font-weight: 600;
        @include maxbreakpoint(xs) {
            font-size: 12px!important;
        }
    }
     ::-moz-placeholder {
        color: #aaaaaa;
        font-size: 20px !important;
        font-family: $font-family-montserrat !important;
        letter-spacing: 0.8px !important;
        font-weight: 600;
        @include maxbreakpoint(xs) {
            font-size: 12px!important;
        }
    }
}

.facet-customsearch-form-facet-content-pager-wrapper.row {
    margin-top: 40px;
    @include maxbreakpoint(xs) {
        margin-top: 10px;
    }
}


/*LISTIN SEARCH ITEM PAGE CSS*/

.listing-search-item {
    border-bottom: 1px solid #ccc;
    padding: 15px 5px 0;
    margin-right: 5px;
    padding-bottom: 15px;
}

.listing-search-item h3 {
    float: left;
    margin: 0;
    font-family: $font-family-merriweather-bold;
    font-size: 20px;
    line-height: 36px;
}

.listing-search-item h3 span,
.listing-search-item h3 a {
    background: #242424 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    // padding: 2px;
    text-align: center;
    width: 36px;
    border-radius: 50%;
}

.listing-search-item .listing-search-list {
    margin: 2px 55px 0;
    position: relative;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.listing-search-item .listing-search-list ul {
    float: left;
    margin: 0;
    padding: 0;
    width: 45%;
    @include maxbreakpoint(xs) {
        float: none;
        width: 100%;
    }
}

.listing-search-item .listing-search-list ul:first-child {
    padding-right: 20px;
    width: 45%;
    @include maxbreakpoint(xs) {
        width: 100%;
    }
}

.listing-search-item .listing-search-list ul li {
    border: 0 none;
    list-style: outside none none;
    padding: 0 0 6px;
    font-family: $font-family-merriweather-regular;
}

.listing-search-item .listing-search-list ul li a {
    color: #242424;
    font-size: 18px;
    @include maxbreakpoint(xs) {
        font-size: 1rem;
    }
}

.listing-searchbox {
    background: #242424;
    color: #fff;
    margin: 0 0 25px;
    padding: 15px;
}

.listing-search-item a.search-supp-link {
    float: right;
    // font-weight: bold;
    // text-transform: uppercase;
    color: #242424;
    font-family: $font-family-merriweather-italic;
}

.listing-searchbox .float-left {
    float: left;
}

.listing-searchbox .pplsearch {
    width: 45%;
    margin: 4px 0 0 0;
    float: left;
    @include maxbreakpoint(xs) {
        width: 100%;
    }
}

.listing-searchbox .views-exposed-widgets {
    position: relative;
}

.views-exposed-widgets {
    margin-bottom: .5em;
}

.listing-searchbox .pplsearch .views-exposed-form .views-exposed-widget label {
    color: #fff;
    font-size: 14px;
    margin: 0 5px 5px;
    text-align: left;
    font-family: $font-family-montserrat;
}

a.col-pink {
    font-family: $font-family-merriweather-regular;
    color: #242424;
    font-size: 28px;
}

.listing-searchbox .alphabetfilter h3 {
    color: #fff;
    font-size: 1em;
    margin: 0 5px 5px;
    text-align: left;
    font-family: $font-family-merriweather-regular;
}

.listing-searchbox .views-exposed-widgets .views-widget {
    position: relative;
    padding: 0 40px 0 0;
    background: #fff;
    height: 36px;
}

.views-exposed-form .form-item {
    border-width: 0;
    border-style: none;
    padding: 0;
}

.listing-searchbox .views-exposed-widgets .views-exposed-widget input.form-text {
    border: 0;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    // padding: 8px 10px; */
    height: 36px;
}

.views-exposed-form .form-item,
.views-exposed-form .form-submit {
    margin-top: 0;
    margin-bottom: 0;
}

.form-item {
    margin: 1.5em 0;
}

.listing-searchbox .views-exposed-widgets .views-submit-button {
    position: absolute;
    right: 0;
    top: 0;
    height: 36px;
    width: 37px;
    z-index: 2;
    padding: 0;
}

.listing-searchbox .views-exposed-widgets .views-submit-button input.form-submit {
    height: 36px;
    width: 36px;
    text-indent: -9999em;
    background: none;
    border: 0;
    cursor: pointer;
    margin: 0;
    position: relative;
    z-index: 3;
    margin: 29px 0 0;
}

.listing-searchbox .views-exposed-widgets .views-submit-button:after {
    content: '\f002';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    right: 8px;
    top: 37px;
    z-index: 1;
    color: #ab1328;
}

@media only screen and (max-width: 1240px) and (min-width: 921px) {
    .listing-searchbox .pplsearch {
        width: 310px;
    }
}

.listing-searchbox .alphabetfilter a {
    color: #c4c4c4;
    font-family: $font-family-merriweather-regular;
    margin: 0 4px 0 0;
    padding: 0 4px;
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
}

.listing-searchbox .float-right {
    float: right;
}

.listing-searchbox .alphabetfilter {
    width: 45%;
    line-height: 25px;
    float: right;
    @include maxbreakpoint(xs) {
        width: 100%;
    }
}