// .list-page-section {
//     position: relative;
// }
.header-transparent:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 100%, rgba(0, 0, 0, 0) 100%);
}

.header-transparent {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

@include breakpoint(sm) {
    .header-transparent {
        height: 250px;
    }
}

@include breakpoint(md) {
    .header-transparent {
        height: 350px;
    }
}

@include breakpoint(lg) {
    .header-transparent {
        height: 530px;
    }
}

@include breakpoint(xlg) {
    .header-transparent {
        height: 730px;
    }
}

.sub-navigation {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    background-color: rgba(248, 248, 250, .5);
    backdrop-filter: blur(1.9px) opacity(50%);
    z-index: 99;
    overflow: hidden;
    border-top: solid 1px #ffffff45;
}

ul.sub-navigation-content {
    // display: flex;
    // @include maxbreakpoint(sm) {
    //     justify-content: start;
    // }
    padding: 0;
    text-align: center;
    list-style: none;
    justify-content: center;
    margin: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    appearance: none;
    -webkit-overflow-scrolling: touch;
    li {
        display: inline-block;
        a {
            font-size: $font-size-14;
            line-height: $line-height-19;
            @include maxbreakpoint(smm) {
                font-size: $font-size-14 - 0.125rem;
                line-height: $line-height-19 - 0.125rem;
            }
            @include maxbreakpoint(xs) {
                font-size: $font-size-14 - 0.125rem*2;
                line-height: $line-height-19 - 0.125rem*2;
            }
            font-family: $font-family-montserrat;
            color: #fff;
            text-transform: uppercase;
            padding: 14px 20px 14px 20px;
            @include maxbreakpoint(smm) {
                padding: 10px 20px 10px 20px;
            }
            @include maxbreakpoint(xs) {
                padding: 10px 16px 10px 16px;
            }
            display: inline-block;
            position: relative;
            border-top: solid 3px transparent;
            &:hover {
                border-top: solid 3px #fff;
                background-color: rgba(255, 255, 255, 0.3);
                transition: all .6s ease-in-out;
            }
            // &:before {
            //     content: '';
            //     position: absolute;
            //     left: 0;
            //     bottom: 0;
            //     height: 0;
            //     width: 100%;
            //     z-index: 1;
            //     transition: all 150ms linear;
            //     background-color: rgba(255, 255, 255, .3);
            // }
            // &:hover:before {
            //     height: 100%;
            //     border-top: solid 3px #fff;
            // }
        }
    }
}

.section-page {
    .bg-color-dark {
        background: #fff;
    }
}

.section-celebrity {
    // background-repeat: repeat;
    // background-attachment: fixed;
    // background-size: contain;
    // background-position: center center;
    padding: 7rem 0 2rem 0 !important;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0rem !important;
    background-position: top center;
    @include breakpoint(sm) {
        margin-bottom: 1rem !important;
    }
    @include breakpoint(md) {
        margin-bottom: 1rem !important;
    }
    // @include breakpoint(lg) {
    //     margin-bottom: 3rem !important;
    // }
    @include maxbreakpoint(smm) {
        padding: 4rem 0 0rem 0 !important
    }
    @include maxbreakpoint(xs) {
        padding: 3rem 0 0rem 0 !important
    }
    .view {
        margin: 7rem 0 2rem 0 !important;
        @include maxbreakpoint(xs) {
            margin: 4rem 0px 0rem 0 !important;
        }
    }
    .icon-center {
        transition: none;
    }
}

.celebrity-news-slider-bg,
.event-gallery-slider-bg {
    background-image: url(/sites/all/themes/ahlan_revamp/images/celebrity-news.png);
}

.foodie-news-slider-bg {
    background-image: url(/sites/all/themes/ahlan_revamp/images/foodienews.png);
}

.style-slider-bg {
    background-image: url(/sites/all/themes/ahlan_revamp/images/style-news.png);
}

.getaways-slider-bg {
    background-image: url(/sites/all/themes/ahlan_revamp/images/getaways-news.png);
}

.best-of-food-bg {
    background-image: url(/sites/all/themes/ahlan_revamp/images/best-of-food.png);
}

@include maxbreakpoint(xs) {
    .section-celebrity.py-5 {
        padding-bottom: 2rem !important;
    }
}

.parallax-image-section {
    min-height: 208px;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom center;
    margin-bottom: 0 !important;
    @include breakpoint(sm) {
        min-height: 380px;
    }
    @include breakpoint(md) {
        min-height: 520px;
    }
    @include breakpoint(lg) {
        min-height: 720px;
    }
    @include maxbreakpoint(xs) {
        background-attachment: initial;
    }
}

.parallax-image-section {
    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        opacity: 1;
        bottom: 0;
        background: transparent;
        background-image: linear-gradient(to top, #000000, rgba(0, 0, 0, 0.28) 32%, rgba(0, 0, 0, 0));
    }
    .container-fluid {
        position: absolute;
        z-index: 1;
        bottom: 30px;
        @include maxbreakpoint(xs) {
            bottom: 15px;
        }
        left: 0;
        right: 0;
        pointer-events: none;
    }
    .main-overlay,
    .thumb-content {
        z-index: 999;
        pointer-events: auto;
        text-align: center;
    }
    .thumb-content {
        .overlay-title {
            font-size: 1.125rem;
            line-height: 1.5rem;
            font-family: $font-family-merriweather-bold;
            color: $black;
            margin-bottom: 15px !important;
            @include breakpoint(sm) {
                font-size: $font-size-35 - 0.4375rem *2; //8px less
                line-height: $line-height-44 - 0.4375rem *2; //8px less
                margin-bottom: 22px !important;
            }
            @include breakpoint(md) {
                font-size: $font-size-35 - 0.4375rem; //8px less
                line-height: $line-height-44 - 0.4375rem; //8px less
                margin-bottom: 22px !important;
            }
            @include breakpoint(lg) {
                font-size: $font-size-35;
                line-height: $line-height-44;
                margin-bottom: 22px !important;
            }
            a {
                color: #fff;
            }
            @include breakpoint(sm) {
                max-width: 400px;
            }
            @include breakpoint(md) {
                max-width: 500px;
            }
            @include breakpoint(lg) {
                max-width: 600px;
            }
        }
        .cus-btn {
            font-size: $font-size-12;
            line-height: $line-height-15;
            font-family: $font-family-montserrat;
            color: #fff;
            letter-spacing: 2.21px;
            text-transform: uppercase;
            border: solid 1px #fff;
            text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            border-radius: 0;
            padding: 10px 20px;
            @include maxbreakpoint(xs) {
                font-size: 10px;
                line-height: 14px;
                padding: 6px 11px;
                margin-top: 1px;
            }
        }
    }
}

.parallax-sub-title {
    letter-spacing: 1.56px;
    text-align: center;
    font-size: $font-size-14;
    line-height: $line-height-19;
    font-family: $font-family-montserrat-bold;
    margin-bottom: 18px !important;
    text-transform: uppercase;
    @include maxbreakpoint(smm) {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 12px !important;
    }
    span {
        display: inline-block;
        position: relative;
        &:before,
        &:after {
            content: "";
            position: absolute;
            height: 5px;
            border-bottom: 1px solid #fff;
            top: 5px;
            width: 45px;
            @include maxbreakpoint(xs) {
                width: 20px;
                top: 3px;
            }
        }
        &:before {
            right: 100%;
            margin-right: 8px;
        }
        &:after {
            left: 100%;
            margin-left: 8px;
        }
        a {
            color: #fff;
        }
    }
}

.thumb-content .cus-btn:hover,
.thumb-content .cus-btn:focus {
    background: #ffffff85;
    box-shadow: none;
}

.thumb-content .btn-outline-secondary:not(:disabled):not(.disabled):active {
    background: #ffffff85;
    box-shadow: none;
}

.slide .big-main-image {
    transform: scale(0.9);
    @include maxbreakpoint(xs) {
        transform: scale(0.95)
    }
    transition: all 1s ease-out;
    max-width: 100%;
    position: relative;
    .bottom-content {
        // display: none !important;
        visibility: hidden !important;
    }
}

// .slider-wr .slick-track {
//     padding: 65px 0px;
//     padding-bottom: 20px;
//     @include maxbreakpoint(smm) {
//         padding: 20px 0px;
//         padding-bottom: 0px;
//     }
// }
// .not-front .three-column-bottom.also-like h3 {
//     margin-top: 1rem !important;
//     @include breakpoint(sm) {
//         margin-top: 1rem !important;
//     }
//     @include breakpoint(md) {
//         margin-top: 2rem !important;
//     }
//     @include breakpoint(lg) {
//         margin-top: 3rem !important;
//     }
// }
// .not-front .parallax-view.py-3 {
//     padding: 0 !important;
//     margin: 0 !important;
//     @include maxbreakpoint(xs) {
//         margin-top: 1rem !important;
//     }
// }
.not-front .parallax-view.py-3 .parallax-image-section {
    margin: 0 !important;
}

.slide.slick-slide.slick-current.slick-active.slick-center {
    margin-top: -10px;
    @include breakpoint(sm) {
        margin-top: -7px;
    }
    @include breakpoint(md) {
        margin-top: -10px;
    }
    @include breakpoint(lg) {
        margin-top: -12px;
    }
    @include minbreakpoint(lg) {
        margin-top: -25px;
    }
}

.slide {
    padding: 0 6px;
    @include maxbreakpoint(smm) {
        padding: 0 2px;
    }
    box-sizing: border-box;
}

.slide.slick-center .big-main-image {
    transform: scale(1.1);
    @include maxbreakpoint(xs) {
        transform: scale(1);
    }
    transform-origin: bottom;
    margin-top: 12px;
    margin-bottom: 0 !important;
    transition: all 1s ease-out;
    .bottom-content {
        // display: block !important;
        visibility: visible !important;
    }
}

.section-celebrity .big-main-image .cus-img img {
    width: 100%;
}

.section-stars-stories .col-md-9 .big-main-image.mb-7,
.section-life-style .col-md-9 .big-main-image.mb-7,
.section-travel-getaways .col-md-9 .big-main-image.mb-7 {
    margin-bottom: 0 !important;
    @include maxbreakpoint(xs) {
        margin-bottom: 1rem !important;
    }
}

.slider-bg-grey .col-md-cus-5 .bg-color-dark:before {
    @include minbreakpoint(md) {
        z-index: -1;
        content: '';
        bottom: 5px;
        height: 100px;
        width: 90%;
        left: 5%;
        border-radius: 15%;
        box-shadow: 0 0px 30px rgba(132, 132, 132, 0.8);
        position: absolute;
    }
}

.parallax-image-section .container-fluid .col-md-12.col-12.mb-2.mb-md-0.px-0 {
    @include maxbreakpoint(xs) {
        margin-bottom: 0px !important;
    }
}