//
// Basic overlay grid
//
.main-overlay {
    position: relative;
    .thumb-image {
        a {
            color: #000;
            &:before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 1;
                opacity: .6;
                bottom: 0;
                background: transparent;
                background-image: linear-gradient(to top, #000000, rgba(0, 0, 0, 0.28) 32%, rgba(0, 0, 0, 0));
            }
        }
    }
    .thumb-content {
        position: absolute;
        z-index: 1;
        bottom: 0;
        // @include breakpoint(md) {
        //     padding-bottom: 1rem;
        // }
        // @include breakpoint(xs) {
        //     padding-bottom: 1.25rem;
        // }
        left: 0;
        right: 0;
        pointer-events: none;
        .overlay-title {
            font-size: $font-size-20;
            line-height: $line-height-24;
            font-family: $font-family-merriweather-bold-italic;
            color: $white;
            @include breakpoint(sm) {
                font-size: 1rem;
                line-height: 1rem;
            }
            @include minbreakpoint(md) {
                max-width: 70%;
                margin-bottom: 0rem;
            }
            max-width: 90%;
            margin: 0 auto;
            margin-bottom: .5rem;
        }
        .icon-center {
            display: flex;
            justify-content: center;
            padding: 5px 0px;
            width: 120px;
            margin: 0 auto;
            text-align: center;
            position: relative;
            &:before,
            &:after {
                content: "";
                display: block;
                width: 40px;
                height: 1px;
                background: #fff;
                position: absolute;
                left: 0;
                top: 50%;
                z-index: -2;
            }
            &:after {
                left: initial;
                right: 0;
                top: 50%;
            }
        }
    }
}

// .icon-center {
//     .center-icon {
//         background: #f2f2f6;
//         &.here-now {
//             background-image: url(http://localhost/ahlan/html/assets/img/here-now.png);
//         }
//         &.here-now-white {
//             background: transparent;
//             background-image: url(http://localhost/ahlan/html/assets/img/here-now-white.png);
//         }
//         &.thunder {
//             background-image: url(http://localhost/ahlan/html/assets/img/thunder.png);
//         }
//         &.large-icon {
//             padding: 0 10px;
//             width: 31px;
//             height: 30px;
//         }
//         &.small-icon {
//             padding: 0 5px;
//             width: 25px;
//             height: 16px;
//         }
//         background-repeat: no-repeat;
//         background-position: center center;
//         background-size: contain;
//     }
// }
// .icon-center .center-icon.trns-bg {
//     background: transparent;
// }
.zoom-effect {
    overflow: hidden;
    position: relative;
    img {
        transition-property: transform, opacity;
        transition-duration: .5s;
        transition-timing-function: ease-in;
    }
    &:hover {
        img {
            transform: scale3d(1.08, 1.08, 1);
        }
    }
}

.zoom-effect::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 1;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient( left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient( to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.zoom-effect:hover::before {
    -webkit-animation: shine 0.75s;
    animation: shine 0.75s;
}

.bottom-content:hover .zoom-effect::before {
    -webkit-animation: shine 0.75s;
    animation: shine 0.75s;
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}

.zoom-effect a:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
}

.zoom-effect:hover img {
    opacity: .8;
}