//
// Basic overlay grid
//
.main-overlay {
    position: relative;
    .thumb-image {
        a {
            color: #000;
            &:before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 1;
                opacity: 1;
                bottom: 0;
                background: transparent;
                background-image: linear-gradient(to top, #000000, rgba(0, 0, 0, 0));
                // background-image: linear-gradient(to top, #000000, rgba(0, 0, 0, 0.28) 32%, rgba(0, 0, 0, 0));
            }
        }
    }
    .thumb-content {
        position: absolute;
        z-index: 1;
        bottom: 8px;
        @include maxbreakpoint(smm) {
            bottom: 2px;
        }
        // @include breakpoint(md) {
        //     padding-bottom: 1rem;
        // }
        // @include breakpoint(xs) {
        //     padding-bottom: 1.25rem;
        // }
        left: 0;
        right: 0;
        pointer-events: none;
        .overlay-title {
            font-size: $font-size-20 - 0.125 *3;
            line-height: $line-height-24 - 0.125 *3;
            font-family: $font-family-merriweather-bold-italic;
            color: $white;
            margin-bottom: .2rem;
            @include breakpoint(sm) {
                font-size: $font-size-20 - 0.125 *3;
                line-height: $line-height-24 - 0.125 *3;
                margin-bottom: .2rem;
            }
            @include breakpoint(md) {
                font-size: $font-size-20 - 0.125;
                line-height: $line-height-24 - 0.125;
            }
            @include breakpoint(lg) {
                font-size: $font-size-20;
                line-height: $line-height-24;
                margin-bottom: .2rem;
            }
            // @include minbreakpoint(md) {
            //     margin-bottom: 0rem;
            // }
            max-width: 90%;
            @include maxbreakpoint(smm) {
                max-width: 95%;
            }
            margin: 0 auto;
        }
        .icon-center {
            display: flex;
            justify-content: center;
            padding: 10px 0px;
            @include maxbreakpoint(smm) {
                padding: 5px 0px;
            }
            width: 60px;
            @include breakpoint(md) {
                width: 80px;
            }
            @include breakpoint(sm) {
                width: 70px;
            }
            @include breakpoint(lg) {
                width: 90px;
            }
            margin: 0 auto;
            text-align: center;
            position: relative;
            &:before,
            &:after {
                content: "";
                display: block;
                width: 18px;
                @include breakpoint(md) {
                    width: 25px;
                }
                @include breakpoint(sm) {
                    width: 20px;
                }
                @include breakpoint(lg) {
                    width: 30px;
                }
                height: 1px;
                background: #fff;
                position: absolute;
                left: 0;
                top: 50%;
                z-index: -2;
            }
            &:after {
                left: initial;
                right: 0;
                top: 50%;
            }
        }
    }
}

// .icon-center {
//     .center-icon {
//         background: #f2f2f6;
//         &.here-now {
//             background-image: url(http://localhost/ahlan/html/assets/img/here-now.png);
//         }
//         &.here-now-white {
//             background: transparent;
//             background-image: url(http://localhost/ahlan/html/assets/img/here-now-white.png);
//         }
//         &.thunder {
//             background-image: url(http://localhost/ahlan/html/assets/img/thunder.png);
//         }
//         &.large-icon {
//             padding: 0 10px;
//             width: 31px;
//             height: 30px;
//         }
//         &.small-icon {
//             padding: 0 5px;
//             width: 25px;
//             height: 16px;
//         }
//         background-repeat: no-repeat;
//         background-position: center center;
//         background-size: contain;
//     }
// }
// .icon-center .center-icon.trns-bg {
//     background: transparent;
// }
.zoom-effect {
    // overflow: hidden;
    position: relative;
    img {
        // transition-property: transform, opacity;
        // transition-duration: .5s;
        // transition-timing-function: ease-in;
        transition: opacity .2s ease-in-out
    }
    // &:hover {
    //     img {
    //         transform: scale3d(1.08, 1.08, 1);
    //     }
    // }
    a {
        transition: all 100ms linear !important;
    }
}

// .zoom-effect::before {
//     position: absolute;
//     top: 0;
//     left: -75%;
//     z-index: 1;
//     display: block;
//     content: "";
//     width: 50%;
//     height: 100%;
//     background: -webkit-linear-gradient( left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
//     background: linear-gradient( to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
//     -webkit-transform: skewX(-25deg);
//     transform: skewX(-25deg);
// }
// .zoom-effect:hover::before {
//     -webkit-animation: shine 0.75s;
//     animation: shine 0.75s;
// }
// .bottom-content:hover .zoom-effect::before {
//     -webkit-animation: shine 0.75s;
//     animation: shine 0.75s;
// }
// @-webkit-keyframes shine {
//     100% {
//         left: 125%;
//     }
// }
// @keyframes shine {
//     100% {
//         left: 125%;
//     }
// }
// .zoom-effect a:before {
//     content: '';
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     z-index: 1;
//     bottom: 0;
// }
.zoom-effect:hover img {
    opacity: .7;
}

// .lazy-load-image-wrapper .loading {
//     position: absolute;
//     left: 0;
//     top: 0;
//     bottom: 0;
//     right: 0;
//     margin: auto;
// }
// .loading {
//     display: block;
//     position: relative;
//     width: 55px;
//     height: 48px;
//     margin: 0 auto;
// }
// .loading:after,
// .loading:before {
//     position: absolute;
//     top: 0;
//     left: 0;
//     display: block;
//     content: "";
//     background: url(https://goop.com/wp-content/dist/images/logo-goop-g-2x.png) 0 0/100% no-repeat;
//     width: 55px!important;
//     height: 0;
//     animation: goop-loader 2s infinite;
//     z-index: 3;
// }
// .loading:after {
//     animation: none;
//     height: 48px;
//     visibility: visible;
//     opacity: .32;
//     z-index: 2;
// }
// @keyframes goop-loader {
//     0% {
//         height: 0
//     }
//     7.69% {
//         height: 4px
//     }
//     15.38% {
//         height: 8px
//     }
//     23.07% {
//         height: 12px
//     }
//     30.76% {
//         height: 16px
//     }
//     38.46% {
//         height: 20px
//     }
//     46.15% {
//         height: 24px
//     }
//     53.84% {
//         height: 28px
//     }
//     61.53% {
//         height: 32px
//     }
//     69.23% {
//         height: 36px
//     }
//     76.92% {
//         height: 40px
//     }
//     92.30% {
//         height: 44px
//     }
//     to {
//         height: 48px
//     }
// }
@include maxbreakpoint(xs) {
    .text-overlay-grid {
        .container {
            padding-right: 4px;
            padding-left: 4px;
            .row {
                margin-right: -4px;
                margin-left: -4px;
                .col-12 {
                    padding-right: 4px;
                    padding-left: 4px;
                }
            }
        }
    }
    .mobile-slider {
        .col-sm-3 {
            padding-right: 4px;
            padding-left: 4px;
        }
    }
}