.col-md-cus-5 {
    .slick-list {
        height: 100% !important;
    }
}

.row-cus {
    .slick-slider .slick-track {
        @include maxbreakpoint(sm) {
            max-height: 40px;
            text-align: center;
            padding: 10px 0;
            padding-bottom: 0;
        }
    }
    @include maxbreakpoint(sm) {
        position: relative;
    }
}

.bg-color-dark {
    background: #F2F2F6;
    position: relative;
    @include maxbreakpoint(sm) {
        position: initial;
        background: #fff;
    }
    .trending {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 0;
        margin-top: -25px;
        font-size: 1.875rem;
        line-height: 2.375rem;
        font-family: "montserrat-light";
        text-transform: uppercase;
        color: #626262;
        span {
            background: #fff;
            border-top: solid 2px #979797;
            border-bottom: solid 2px #979797;
            padding: 5px 0px;
        }
    }
}

.content.slick-slide {
    border: 0;
    p {
        font-size: $font-size-30;
        line-height: $line-height-38;
        font-family: $font-family-merriweather-regular;
    }
}

.count {
    margin-right: 30px;
    span {
        font-size: $font-size-24;
        line-height: $line-height-29;
        font-family: $font-family-montserrat;
        color: #767676;
        @include maxbreakpoint(sm) {
            color: #d3d3d3;
            font-size: 1rem;
            line-height: 1rem;
        }
    }
}

.col-md-cus-5 .content p {
    display: none;
}

@include maxbreakpoint(sm) {
    .trending-slider {
        padding-top: 2rem !important;
        padding-bottom: 0rem !important;
        position: relative;
        &:before {
            content: "";
            width: 100%;
            height: 120px;
            background: rgb(242, 242, 246);
            position: absolute;
            top: 0;
            right: 0;
            z-index: 0;
        }
        .row-compact {
            .col-md-cus-7 {
                .slick-list {
                    padding: 0 20px;
                }
            }
        }
    }
    .content {
        width: 50px !important;
        float: initial !important;
        // border-bottom: solid 3px #f4f4f7 !important;
        margin: 0px 5px;
        display: inline-block !important;
        .count {
            margin-right: 0;
        }
    }
    .content.slick-current {
        &:focus {
            outline: none;
        }
        background-color: #f4f4f7;
        border-top: solid 3px #d3d3d3 !important;
    }
}

@include minbreakpoint(md) {
    .trending-slider {
        .small-btn-content {
            padding: 0px 80px;
        }
    }
    .col-md-cus-7 {
        max-width: 58.333333%;
        float: left;
        padding: 55px 0 0;
        z-index: 2;
    }
    .col-md-cus-5 {
        max-width: 41.666667%;
        float: left;
    }
    .bg-color-dark {
        margin: 0;
        margin-left: -70px;
        padding: 80px 0 20px;
    }
    .content.slick-slide {
        border-right: 10px solid #F2F2F6;
        padding: 20px 0 20px 100px;
        margin-left: 0;
        border: 0 !important;
        display: flex !important;
        min-height: 122px;
        width: 100% !important;
        outline: none;
        cursor: pointer;
        padding-right: 10px;
    }
    .content.slick-slide.slick-current.slick-active {
        background: #fff;
        border-right: 10px solid #707070 !important;
    }
    .col-md-cus-5 .content p {
        display: block;
    }
}